@extends('base')

@section('content')
@if (sizeof($errors))
  <div class="alert alert-danger">
    <ul>
      @foreach ($errors->all() as $error)
        <li>{{ $error }}</li>
      @endforeach
    </ul>
  </div>
@endif

<div class="boxed-group form-signin">
  <h3>Восстановление пароля</h3>
  <div class="boxed-group-inner">
    <form action="/auth/password/remind" method="post">
      <input type="text" class="input-type-check" name="mail" value="{{ old('mail') }}">
      
      <div class="form-group {{ $errors->has('email') ? 'has-error' : '' }}">
        <label class="control-label">Электронная почта:</label>
        <input autofocus type="email" class="form-control" name="email" value="{{ old('email') }}">
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Начать восстановление
      </button>
      
      <input type="hidden" name="_token" value="{{ csrf_token() }}">
    </form>
  </div>
</div>

{{--
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">Reset Password</div>
				<div class="panel-body">
					@if (session('status'))
						<div class="alert alert-success">
							{{ session('status') }}
						</div>
					@endif

					@if (count($errors) > 0)
						<div class="alert alert-danger">
							<strong>Whoops!</strong> There were some problems with your input.<br><br>
							<ul>
								@foreach ($errors->all() as $error)
									<li>{{ $error }}</li>
								@endforeach
							</ul>
						</div>
					@endif

					<form class="form-horizontal" role="form" method="POST" action="/password/email">
						<input type="hidden" name="_token" value="{{ csrf_token() }}">

						<div class="form-group">
							<label class="col-md-4 control-label">E-Mail Address</label>
							<div class="col-md-6">
								<input type="email" class="form-control" name="email" value="{{ old('email') }}">
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-md-offset-4">
								<button type="submit" class="btn btn-primary">
									Send Password Reset Link
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
--}}
@endsection
