@extends('base')

@section('content')
@if (sizeof($errors))
  <div class="alert alert-danger">
    <ul>
      @foreach ($errors->all() as $error)
        <li>{{ $error }}</li>
      @endforeach
    </ul>
  </div>
@endif

<div class="boxed-group form-signin">
  <h3>Восстановление пароля</h3>
  <div class="boxed-group-inner">
    <form action="/auth/password/remind" method="post">
      <input type="text" class="input-type-check" name="mail" value="{{ old('mail') }}">
      
      <div class="form-group {{ $errors->has('email') ? 'has-error' : '' }}">
        <label class="control-label">Электронная почта:</label>
        <input autofocus required type="email" class="form-control" name="email" value="{{ old('email') }}" autocomplete="email">
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">
        Начать восстановление
      </button>
      
      <input type="hidden" name="_token" value="{{ csrf_token() }}">
    </form>
  </div>
</div>
@endsection
