<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{{ $meta_title or config('cfg.sitename') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ $meta_keywords or '' }}">
  <meta name="description" content="{{ $meta_description or '' }}">
  <link rel="icon" sizes="256x256" href="/apple-touch-icon.png">
  @section('head')
    <link rel="stylesheet" href="/css/app.min.css">
  @show
</head>
<body>
<div class="wrap-content">
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ config('cfg.sitename') }}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          @section('global_menu')
          @if (Auth::check() and Auth::user()->isAdmin())
            <li><a href="/acp/clients">Клиенты</a></li>
            <li><a href="/acp/domains">Домены</a></li>
            <li><a href="/acp/pages">Страницы</a></li>
          @endif
          @show
        </ul>
        @if (Auth::check())
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ Auth::user()->email }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {{--
                <li><a href="/">Личный кабинет</a></li>
                <li class="divider"></li>
                --}}
                <li><a href="/auth/logout">Выход</a></li>
              </ul>
            </li>
          </ul>
        @else
          <form class="navbar-form navbar-right">
            <a class="btn btn-default" href="/auth/login">Вход</a>
          </form>
        @endif
      </div>
    </div>
  </div>
  <div class="container">
{{--
@section('breadcrumbs')
@include('block.breadcrumbs')
@show
--}}
@if (Session::has('message'))
  <div class="alert alert-info">{{ Session::get('message') }}</div>
@endif
@yield('content_header')
@yield('content')
@yield('content_footer')

    <div class="wrap-push"></div>
  </div>
</div>
<footer>
  <div class="container">
    @section('footer')
      <ul class="list-inline" style="display: inline-block;">
        <li class="text-muted">&copy; {{ date('Y') }} vacuum</li>
        <li class="text-muted">&middot;</li>
        <li><a href="mailto:{{ config('email.support') }}" class="link">Обратная связь</a></li>
        <li><a href="/life" class="link">Заметки</a></li>
        <li><a href="/parser/vk" class="link">Парсер ВК</a></li>
      </ul>
    @show
  </div>
</footer>
@section('js')
<script src="/js/app.min.js"></script>
@show
</body>
</html>