@extends('life.base', [
  'meta_title' => 'Dream Theater в Москве &middot; 12 июля 2011'
])

@section('content')
<h2>Dream Theater в Москве <small>12 июля 2011</small></h2>
<p>Что играли:</p>
<ol>
  <li>Under a Glass Moon</li>
  <li>These Walls</li>
  <li>Forsaken</li>
  <li>Endless Sacrifice</li>
  <li>Drum Solo</li>
  <li>The Ytse Jam</li>
  <li>Peruvian Skies</li>
  <li>The Great Debate</li>
  <li>On the Backs of Angels</li>
  <li>Happy Birthday <small class="text-muted">(Mildred J. Hill cover) (to John Petrucci)</small></li>
  <li>Caught in a Web</li>
  <li>Through My Words</li>
  <li>Fatal Tragedy</li>
  <li>The Count of Tuscany</li>
  <li>Learning to Live</li>
</ol>
@stop
