@extends('life.base', [
  'meta_title' => 'God is an Astronaut в Москве &middot; 23 ноября 2014',
])

@section('content')
<h2>God is an Astronaut в Москве <small>23 ноября 2014</small></h2>
<p>Что играли:</p>
<ol>
  <li>When Everything Dies</li>
  <li>Transmissions</li>
  <li>All Is Violent, All Is Bright</li>
  <li>Reverse World</li>
  <li>Echoes</li>
  <li>Spiral Code</li>
  <li>Remembrance Day</li>
  <li>The End of the Beginning</li>
  <li>Fragile</li>
  <li>Calistoga</li>
  <li>Forever Lost</li>
  <li>Worlds in Collision</li>
  <li>The Last March</li>
  <li>From Dust to the Beyond</li>
  <li>Fire Flies And Empty Skies</li>
  <li>Red Moon Lagoon</li>
  <li>Suicide By Star</li>
  <li>Route 666</li>
</ol>
@stop
