@extends('life.base', [
  'meta_title' => 'Заметки из жизни',
])

@section('content')
<h2>Заметки из жизни</h2>
<p>Оглавление публикуемой мною информации.</p>

<h2>Поездки</h2>
<ul>
  <li><a class="link" href="/life/kaliningrad">Калининград</a></li>
  <li><a class="link" href="/life/msk">Москва</a></li>
  <li><a class="link" href="/life/spb">Санкт-Петербург</a></li>
</ul>

<h2>Прочее</h2>
<ul>
  <li><a class="link" href="/life/gigs">Посещенные концерты</a></li>
  <li><a class="link" href="/life/movies">Любимые фильмы и сериалы</a></li>
  <li><a class="link" href="/life/books">Понравившиеся книги</a></li>
</ul>
@stop
