@extends('life.base', [
  'meta_title' => 'Калининград &middot; 21—23 февраля 2015',
  'meta_description' => 'Заметки о поездке.',
  'meta_image' => 'https://life.ivacuum.ru/kaliningrad.2015.02/IMG_0076.jpg',
])

@section('content')
<h2>Калининград <small>21—23 февраля 2015</small></h2>
<p>Город, в котором снег — редкий гость.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_0076.jpg" width="1000" height="750" data-map-lat="" data-map-lon="">
</div>

<p>В Калининграде полно мест для прогулок, набережных так и вовсе несколько.</p>
<div class="fotorama" data-nav="thumbs" data-clicktransition="dissolve">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1446.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1454.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1448.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1455.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1496.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1498.jpg" width="1000" height="750">
</div>

<p>Улицы.</p>
<div class="fotorama" data-nav="thumbs" data-clicktransition="dissolve">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1502.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1501.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1503.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1504.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1506.jpg" width="1000" height="750">
</div>

<p>В поездке впервые опробовал сервис аренды жилья <a href="https://www.airbnb.com/c/spankov1?s=8" class="link">Airbnb</a>. Снимать квартиру с помощью него оказалось сплошным удовольствием — оплата заранее по карте, въезд и выезд занял считанные минуты, связываться с владельцем можно даже через Viber, WhatsApp и прочие подобные сервисы. Рекомендую.</p>

<p>На Куршскую косу легко попасть, но непросто ее покинуть. Если вы, конечно, не на своей машине. Общественный транспорт отсюда ходит лишь несколько раз в день. По пути обратно на дорогу вообще выбежал кабан из леса, что, впрочем, не помешало водителю продолжить путь.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1469.jpg" width="1000" height="750" data-map-lat="" data-map-lon="">
</div>

<p>Дюны.</p>
<div class="fotorama" data-nav="thumbs" data-clicktransition="dissolve">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1477.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1474.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1479.jpg" width="1000" height="750">
</div>

<p>Балтийское море.</p>
<div class="fotorama" data-nav="thumbs" data-clicktransition="dissolve">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1489.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1488.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1482.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1484.jpg" width="1000" height="750">
</div>

<p>У кондукторов и водителей в общественном транспорте ленты билетов с разным номиналом: 10 рублей, 5 и т.п. Отматывают вам столько, сколько вы заплатили за проезд. Одна поездка рублей на 200, и можно мерить талию.</p>

<p>Неподалеку от японского консульства встретилась мемориальная скамейка.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1508.jpg" width="1000" height="750" data-map-lat="" data-map-lon="">
</div>

<p>В Калининграде нумеруются подъезды, а не дома. <a href="/life/msk.2014.12#house_number" class="link">Сравните с Москвой</a>. Номер дома лишь подсказывает какие подъезды можно в нем встретить. Нумерация квартир в каждом из них начинается заново с единицы. Поэтому на картах того же Яндекса можно видеть, что дом с картинки ниже <a href="http://maps.yandex.ru/-/CVGCzOK3" class="link">подписан несколько раз</a> — по количеству подъездов.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1505.jpg" width="1000" height="750" data-map-lat="" data-map-lon="">
</div>

<p>Что за очаги листьев на деревьях зимой?</p>
<div class="fotorama" data-nav="thumbs" data-clicktransition="dissolve">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1500.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1468.jpg" width="1000" height="750">
</div>

<p>В той же Калуге Луна предстает совершенно иначе — она больше и ярко белая, а в Калининграде маленькая, с мягким желтым ореолом. На снимке же это просто банан, <a href="/life/spb.2014.09#banana" class="link">как в Питере</a>.</p>
<div class="fotorama" data-nav="thumbs" data-clicktransition="dissolve">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1456.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1457.jpg" width="1000" height="750">
</div>

<p>Дороги.</p>
<div class="fotorama" data-nav="thumbs" data-clicktransition="dissolve">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1447.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1491.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1507.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1510.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1514.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1515.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1516.jpg" width="1000" height="750">
</div>

<p>К отсутствию снега так привыкаешь, что потом тяжеловато возвращаться в заснеженную Москву. Или это в Калининграде так чисто?.. Ан, нет, показалось.</p>
<div class="fotorama" data-nav="thumbs" data-clicktransition="dissolve">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1518.jpg" width="1000" height="750">
  <img src="//life.ivacuum.ru/kaliningrad.2015.02/IMG_1511.jpg" width="1000" height="750">
</div>
@stop
