@extends('life.base')

@section('content')
<h2>Калуга <small>1 января 2015</small></h2>
<p>Следую идее каждый раз встречать новый год новым способом. В последний момент поступило предложение собрать <a class="link" href="http://www.lego.com/ru-ru/technic/products/42030-remotecontrolled-volvo-l350f-wheel-loader">автопогрузчик Вольво из конструктора Лего</a>. Это была огромная коробка с 1 636 деталями и инструкцией более чем на 300 страниц. Предварительный прогноз в виде 3 минут на страницу обнадеживал — предстояло 15 часов сборки. На деле же понадобилось немногим более 7 часов. Полученная машина и ее ковш управляются с пульта, который тоже собирается из деталек.</p>

<p>Как менялось содержимое стола в процессе сборки.</p>
@include('tpl.carousel', [
  'images' => [
    'IMG_1378.jpg;1000x750;',
    'IMG_1380.jpg;1000x750;',
    'IMG_1382.jpg;1000x750;',
    'IMG_1386.jpg;1000x750;',
    'IMG_1389.jpg;1000x750;',
    'IMG_1391.jpg;1000x750;',
    'IMG_1397.jpg;1000x750;',
  ]
])

<p>Модель обрастала деталями.</p>
@include('tpl.carousel', [
  'images' => [
    'IMG_1381.jpg;1000x750;',
    'IMG_1388.jpg;1000x750;',
    'IMG_1392.jpg;1000x750;',
    'IMG_1393.jpg;1000x750;',
    'IMG_1396.jpg;1000x750;',
    'IMG_1398.jpg;1000x750;',
    'IMG_1400.jpg;1000x750;',
    'IMG_1401.jpg;1000x750;',
    'IMG_1402.jpg;1000x750;',
    'IMG_1403.jpg;1000x750;',
    'IMG_1405.jpg;1000x750;',
  ]
])
@stop
