@extends('life.base', [
  'meta_title' => 'Казань &middot; 5–8 июня 2015',
  'meta_description' => 'Заметки о поездке. Комфортный перелет, уйма мест для прогулок, широкие дороги и пустые улицы.',
  'meta_image' => 'https://life.ivacuum.ru/kazan.2015.06/IMG_0280.jpg',

  'breadcrumbs' => [
    ['title' => 'Заметки', 'url' => 'life'],
    ['title' => 'Казань', 'url' => 'life/kazan'],
    ['title' => '5–8 июня 2015']
  ]
])

@section('content')
<h2>Казань <small>5–8 июня 2015</small></h2>
<div class="shortcuts-item">
  <p>Перелет в Казань не только оказался самым коротким из всех моих перелетов, но еще и самым комфортным. До этого мой топ возглавлял Боинг 777, но теперь и Сухой Суперджет занял достойное место рядом. На первое место все же его не поставишь из-за разных дистанций — приятный час на Сухом и мимолетные 6 часов на Боинге помещают самолеты в разные весовые категории.</p>
  <div class="img-container">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_0411.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>Дождь попросил несколько часов переждать дома.</p>
  <div class="fotorama">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1571.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1573.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>В центре Казани много пешеходных улиц и мест для прогулок.</p>
  <div class="fotorama">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1614.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1615.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1616.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1602.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1578.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1580.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1605.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>Окрестности Кремля.</p>
  <div class="fotorama">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1577.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1581.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1582.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1593.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>Вид на Кремль с другой стороны реки Казанки.</p>
  <div class="img-container">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1627.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>Дворец земледельцев и соседние дома.</p>
  <div class="fotorama">
    <img src="//life.ivacuum.ru/kazan.2015.06/SAM_0678.jpg" width="1000" height="667">
    <img src="//life.ivacuum.ru/kazan.2015.06/SAM_0687.jpg" width="1000" height="667">
  </div>
</div>

{{--
<div class="shortcuts-item">
  <p>Мечеть.</p>
  <div class="img-container">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1591.jpg" width="1000" height="750">
  </div>
</div>
--}}

<div class="shortcuts-item">
  <p>Дороги широкие: часто полосы по три-четыре в каждую сторону, нередки трамвайные пути посередине.</p>
  <div class="fotorama">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1611.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1599.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1600.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1603.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1604.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1606.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>Метро всего одна ветка, за 20 <span class="rur">руб.</span> можно доехать до противоположной части города. Народу им пользуется мало, все станции темные. В данный момент большие автобусы и троллейбусы выигрывают в плане перемещения по городу за счет движения по выделенным полосам и отображения местоположения в <a class="link" href="https://mobile.yandex.ru/apps/transport/iphone/">Яндекс-траспорте</a>, в котором пока нет только трамвая. Все остановки в общественном транспорте объявляют на трех языках: русском, татарском и английском. Часто выходит так, что автобус уже трогается с остановки, когда еще дело не дошло до английского языка.</p>
  <div class="img-container">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1622.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>Красивая аллея фонтанов. Справа на дороге можно заметить тот самый большой автобус.</p>
  <div class="img-container">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1608.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>В городе несколько набережных: есть длинные, есть покороче. Эта облюбована кафешками, можно покататься на лодке. Она также приглянулась уткам и лебедям.</p>
  <div class="img-container">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1613.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>На следующей набережной здорово кататься на роликах и велосипеде. Неподалеку от моста Миллениум ее еще приводят в порядок, но много километров плотного покрытия в любом случае доступно.</p>
  <div class="img-container">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1636.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>Еще одно классное место для прогулок и катания — ЦПКиО им. Горького. В нем часто встречаются белки.</p>
  <div class="fotorama">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1642.jpg" width="1000" height="750">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1641.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>Около дома нашлась многоэтажная наземная парковка. До этого их видел только у аэропорта Внуково в Москве.</p>
  <div class="img-container">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_1649.jpg" width="1000" height="750">
  </div>
</div>

<div class="shortcuts-item">
  <p>Четыре дня и три ночи оказались идеальной продолжительностью для поездки. В <a class="link" href="/life/kaliningrad.2015">Калининграде</a> было три дня: в первый прилетели, а на третий уже улетели. Провести два полных дня в городе гораздо лучше, то есть, например, прилететь в пятницу, а улететь обратно в понедельник. Конечно, не для любого места подойдет такая схема, но в этот раз она сработала на отлично.</p>
  <div class="img-container">
    <img src="//life.ivacuum.ru/kazan.2015.06/IMG_0280.jpg" width="1000" height="750">
  </div>
</div>
@stop
