@extends('life.base', [
  'meta_title' => 'Linkin Park в Москве &middot; 29 августа 2015',
  'meta_description' => 'Заметки о концерте.',
  'meta_image' => 'https://life.ivacuum.ru/gigs/linkinpark.2015.08.29.jpg',

  'breadcrumbs' => [
    ['title' => 'Заметки', 'url' => 'life'],
    ['title' => 'Концерты', 'url' => 'life/gigs'],
    ['title' => 'Linkin Park']
  ]
])

@section('content')
<h2>Linkin Park в Москве <small>29 августа 2015</small></h2>
<div class="row">
  <div class="col-md-7">
    <p>Ждем-с.</p>
  </div>
  <div class="col-md-5">
    <div class="img-container">
      <img src="//life.ivacuum.ru/gigs/linkinpark.2015.08.29.jpg">
    </div>
  </div>
</div>
@stop
