@extends('life.base', [
  'meta_title' => 'Oomph! в Москве &middot; 21 апреля 2007',
  'meta_description' => 'Заметки о концерте.',
  'meta_image' => 'https://life.ivacuum.ru/gigs/oomph.2007.04.21.jpg',
])

@section('content')
<h2>Oomph! в Москве <small>21 апреля 2007</small></h2>
<div class="row">
  <div class="col-md-7">
    <p>Что играли:</p>
    <ol>
      <li>Träumst Du</li>
      <li>Unsere Rettung</li>
      <li>Keine Luft mehr</li>
      <li>Du willst es doch auch</li>
      <li>Fieber</li>
      <li>Wenn Du weinst</li>
      <li>Die Schlinge</li>
      <li>Supernova</li>
      <li>Sex hat keine Macht</li>
      <li>Mitten ins Herz</li>
      <li>Das letzte Streichholz</li>
      <li>Dein Feuer</li>
      <li>Das weiße Licht</li>
      <li>Mein Schatz</li>
      <li>Dein Weg</li>
      <li>Gekreuzigt</li>
      <li>Niemand</li>
      <li>Augen auf!</li>
      <li>Brennende Liebe</li>
      <li>Gott ist ein Popstar</li>
      <li>Menschsein</li>
      <li>Strangers in the Night <small class="text-muted">(Frank Sinatra cover)</small></li>
      <li>Burn Your Eyes</li>
    </ol>
  </div>
  <div class="col-md-5">
    <div class="img-container">
      <img src="//life.ivacuum.ru/gigs/oomph.2007.04.21.jpg">
    </div>
  </div>
</div>

<p>Видеозапись выступления:</p>
<div class="fotorama" data-width="720" data-ratio="4/3">
  <a href="https://vk.com/video_ext.php?oid=169906990&id=166021194&hash=59db4e7dbf3f1ae4&hd=2" data-video="true">
    <img src="https://pp.vk.me/c13332/u145765/video/l_c222ad84.jpg">
  </a>
</div>
@stop
