@extends('life.base-map', [
  'meta_title' => 'Санкт-Петербург &middot; 9–13 сентября 2014'
])

@section('content')
<h2>Санкт-Петербург <small>9–13 сентября 2014</small></h2>
<p>В эту поездку были опробованы скоростные поезда Невский экспресс и Сапсан. Едут примерно одинаковое время, но первый дешевле.</p>
<p>В экспрессе достался вагон первого класса купейного типа с сидячими местами. С каждого места есть доступ к столику. Однако спинку кресла не откинуть.</p>
<p>Сапсан оказался комфортнее. Удивило, что нужно было не спинку откидывать назад, а сиденьем ехать вперед. Интересовался наличием розеток в эконом-классе. Конечно, несколько там есть — нужно же подключать куда-то тот же пылесос во время чистки вагона. Беглый обзор не выявил их.</p>
<p>Как известно, люди не могли быть спасены во время теракта 11 сентября вертолетом из-за закрытых дверей на крыши башень-близнецов. Затем американцы учли опыт, стали открывать двери по всей стране. Однако, правительство СПб призывает их закрывать.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1062.jpg" alt="" width="750" height="1000" data-map-lat="59.9346888889" data-map-lon="30.332">
</div>

<p>В старом доме на Лиговском проспекте встретилась такая конструкция. Зачем она могла быть сооружена?</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1060.jpg" alt="" width="750" height="1000" data-map-lat="59.9086944444" data-map-lon="30.3466388889">
</div>

<p>Парк Победы осенью.</p>
@include('tpl.carousel', [
  'dir' => 'spb.2014.09.10-13',
  'images' => [
    'IMG_1063.jpg;1000x750;59.8690305556 30.3306222222',
    'IMG_1064.jpg;1000x750;59.8690916667 30.3307444444',
    'IMG_1066.jpg;1000x750;59.8691861111 30.3340194444',
    'IMG_1068.jpg;1000x750;59.8715861111 30.3355472222',
  ]
])

<p>Спортивно-концертный комплекс «Петербургский» — самая большая закрытая арена в Санкт-Петербурге, вмещает 25 тысяч человек. В СКК был уже дважды к этому моменту: тут играла Металлика в 2007 году и Раммштайн в 2010.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1067.jpg" alt="" width="1000" height="750" data-map-lat="59.8696138889" data-map-lon="30.3371">
</div>

<p>Петергоф. Спонтанная поездка, около получаса был удивительно густой туман, который так же быстро исчез, как и появился.</p>
@include('tpl.carousel', [
  'dir' => 'spb.2014.09.10-13',
  'images' => [
    'IMG_1072.jpg;1000x750;59.8836277778 29.9074166667',
    'IMG_1073.jpg;1000x750;59.8836222222 29.9074611111',
    'IMG_1087.jpg;1000x750;59.8882166667 29.8994666667',
    'IMG_1115.jpg;1000x750;59.8875166667 29.9104277778',
    'IMG_1122.jpg;1000x750;59.8855861111 29.9195',
    'IMG_1127.jpg;1000x750;59.8852388889 29.9200333333',
  ]
])

<p>Финский залив в тумане словно край мира.</p>
@include('tpl.carousel', [
  'dir' => 'spb.2014.09.10-13',
  'images' => [
    'IMG_1094.jpg;1000x750;',
    'IMG_1096.jpg;1000x750;',
    'IMG_1098.jpg;1000x750;59.8891111111 29.903225',
    'IMG_1099.jpg;1000x750;59.8891111111 29.903225',
    'IMG_1100.jpg;1000x750;59.8890416667 29.9035722222',
    'IMG_1116.jpg;1000x750;59.8871638889 29.9172777778',
  ]
])

<p>Впервые попались маленькие бананы. Традиционные больше по вкусу.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1183.jpg" alt="" width="1000" height="750" data-map-lat="59.9192166667" data-map-lon="30.3389694444">
</div>

<p>И впервые покатался на трамвае. Мог это сделать еще в феврале, но тогда думал, что оплата проезда производится исключительно по транспортной карте, которую прикладывают к валидатору. Оказалось, что в дополнение к валидаторам всегда есть контролер с билетами — до автоматизации пока не дошли.</p>
@include('tpl.carousel', [
  'dir' => 'spb.2014.09.10-13',
  'images' => [
    'IMG_1187.jpg;1000x750;59.92155 30.3545',
    'IMG_1203.jpg;1000x750;59.9149027778 30.3503583333',
    'IMG_1206.jpg;1000x750;59.9144277778 30.3498555556',
  ]
])

<p>Разглядывать улицы одно удовольствие.</p>
@include('tpl.carousel', [
  'dir' => 'spb.2014.09.10-13',
  'images' => [
    'IMG_1221.jpg;1000x750;59.932177777778 30.367511111111',
    'IMG_1220.jpg;1000x750;59.949508333333 30.386875',
  ]
])
@stop
