@extends('life.base', [
  'meta_title' => 'Tides from Nebula в Москве &middot; 21 декабря 2014',
])

@section('content')
<h2>Tides from Nebula в Москве <small>21 декабря 2014</small></h2>
<p>Что играли:</p>
<ol>
  <li>Sleepmonster</li>
  <li>Hollow Lights</li>
  <li>Only With Presence</li>
  <li>It Takes More Than One Kind of Telescope to See the Light</li>
  <li>Purr</li>
  <li>Laughter of Gods</li>
  <li>Satori</li>
  <li>The Fall of Leviathan</li>
  <li>When There Were No Connections</li>
  <li>Now Run</li>
  <li>Siberia</li>
  <li>Tragedy of Joseph Merrick</li>
</ol>
@stop
