@extends('base', [
  'meta_title' => "Топ 10 vk.com/{$vkpage} за ".$date->formatLocalized('%d %B'),
])

@section('content')
<ul class="nav nav-tabs">
  <li class="{{ $vkpage == 'palnom6' ? 'active' : '' }}">
    <a href="/parser/vk/palnom6">Палата #6</a>
  </li>
  <li class="{{ $vkpage == 'overhear' ? 'active' : '' }}">
    <a href="/parser/vk/overhear">Подслушано</a>
  </li>
  <li class="{{ $vkpage == 'leprum' ? 'active' : '' }}">
    <a href="/parser/vk/leprum">Лепра</a>
  </li>
  <li class="{{ $vkpage == 'pikabu' ? 'active' : '' }}">
    <a href="/parser/vk/pikabu">Пикабу</a>
  </li>
  <li class="{{ $vkpage == 'factura' ? 'active' : '' }}">
    <a href="/parser/vk/factura">Фактура</a>
  </li>
  <li class="{{ $vkpage == 'decaying_europe' ? 'active' : '' }}">
    <a href="/parser/vk/decaying_europe">Запад</a>
  </li>
</ul>

<ul class="pager">
  <li class="previous">
    <a href="/parser/vk/{{ $vkpage }}/{{ $next->toDateString() }}" id="previous_page">
      <span class="glyphicon glyphicon-arrow-left"></span>
      {{ $next->formatLocalized('%e %B') }}
    </a>
  </li>
  <li class="next">
    <a href="/parser/vk/{{ $vkpage }}/{{ $previous->toDateString() }}" id="next_page">
      &nbsp;{{ $previous->formatLocalized('%e %B') }}
      <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
  </li>
</ul>

@if (!sizeof($posts))
  <div class="alert alert-warning">
    Нет записей за {{ $date->formatLocalized('%d %B %Y') }}.
  </div>
@endif

<div class="js-shortcuts-items">
@foreach ($posts as $i => $post)
  <div class="panel panel-default shortcuts-item">
    <div class="panel-body">
      @if ($post['text'])
        <div class="lead">{!! $post['text'] !!}</div>
      @endif
      @if ($post['attachments'])
        @if ($post['photos'] > 1)
          <div class="fotorama">
        @elseif ($post['photos'] == 1)
          @if (sizeof($post['attachments']) > 1)
            <div class="img-container">
          @else
            <div class="vk-post-img-container">
          @endif
        @endif
        @foreach ($post['attachments'] as $attach)
          @if ($attach->type == 'photo')
            <img src="{{ @$attach->photo->src_xxbig ?: @$attach->photo->src_xbig ?: $attach->photo->src_big }}" width="{{ $attach->photo->width }}" height="{{ $attach->photo->height }}">
          @endif
        @endforeach
        @if ($post['photos'] > 0)
          </div>
        @endif
        
        @foreach ($post['attachments'] as $attach)
          @if ($attach->type == 'doc' and $attach->doc->ext == 'gif')
            <p>
              <div>
                <span class="glyphicon glyphicon-paperclip"></span>
                {{ $attach->doc->title }}
              </div>
              <a href="{{ $attach->doc->url }}" class="js-gif-click">
                <img src="{{ $attach->doc->thumb }}">
              </a>
            </p>
          @elseif ($attach->type == 'audio' and $attach->audio->url)
            <p>
              <a href="{{ $attach->audio->url }}" class="link"><span class="glyphicon glyphicon-music"></span> {{ $attach->audio->artist }} — {{ $attach->audio->title }}</a>
              <span class="text-muted">
                {{ sprintf('%02d', $attach->audio->duration / 60) }}:{{ sprintf('%02d', $attach->audio->duration % 60) }}
              </span>
            </p>
          @elseif ($attach->type == 'video')
            <p>
              <a href="https://vk.com/video{{ $attach->video->owner_id }}_{{ $attach->video->vid }}" class="link"><span class="glyphicon glyphicon-film"></span> {{ $attach->video->title }}</a>
              <span class="text-muted">
                {{ sprintf('%02d', $attach->video->duration / 60) }}:{{ sprintf('%02d', $attach->video->duration % 60) }}
              </span>
            </p>
          @elseif ($attach->type == 'page')
            <p>
              <a href="{{ $attach->page->view_url }}" class="link">
                <span class="glyphicon glyphicon-file"></span>
                {{ $attach->page->title }}
              </a>
            </p>
          @elseif ($attach->type == 'link')
            <p>
              <a href="{{ $attach->link->url }}" class="link">
                <span class="glyphicon glyphicon-link"></span>
                {{ $attach->link->title }}
              </a>
              <br>
              <span class="text-muted">
                {{ $attach->link->url }}
              </span>
            </p>
          @endif
        @endforeach
      @endif
    </div>
    <div class="panel-footer">
      <samp>
        #{{ $i + 1 }}
        <span class="glyphicon glyphicon-bullhorn"></span>
        <span class="text-muted">{{ $post['reposts'] }}</span>
        <span class="glyphicon glyphicon-heart"></span>
        <span class="text-muted">{{ $post['likes'] }}</span>
        <span class="glyphicon glyphicon-link"></span>
        <a href="{{ $post['url'] }}" class="link">постоянная ссылка</a>
      </samp>
    </div>
  </div>
@endforeach
</div>

<ul class="pager">
  <li class="previous">
    <a href="/parser/vk/{{ $vkpage }}/{{ $next->toDateString() }}">
      <span class="glyphicon glyphicon-arrow-left"></span>
      {{ $next->formatLocalized('%e %B') }}
    </a>
  </li>
  <li class="next">
    <a href="/parser/vk/{{ $vkpage }}/{{ $previous->toDateString() }}">
      &nbsp;{{ $previous->formatLocalized('%e %B') }}
      <span class="glyphicon glyphicon-arrow-right"></span>
    </a>
  </li>
</ul>
@stop