// Width

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .w#{$infix}-auto { width: auto !important; }
    .w#{$infix}-100 { width: 100% !important; }
  }
}

.mobile-wide { @include mobile-wide; }

.m--2 {
  margin-left: -1 * map_get($spacers, 2);
  margin-right: -1 * map_get($spacers, 2);
}

.mt--2 { margin-top: -1 * map_get($spacers, 2); }
.mt--3 { margin-top: -1 * map_get($spacers, 3); }

.m--3 {
  margin-left: -1 * map_get($spacers, 3);
  margin-right: -1 * map_get($spacers, 3);
}
