.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f20 { font-size: 20px; }
.f24 { font-size: 24px; }
.f28 { font-size: 28px; }
.f36 { font-size: 36px; }
.f48 { font-size: 48px; }

.font-normal { font-weight: normal; }
.font-bold   { font-weight: bold; }
.font-italic { font-style: italic; }

.text-break-word {
  word-wrap: break-word;
  word-break: break-word;
}
.text-nowrap { white-space: nowrap; }

.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.font-smooth { @include font-smoothing(); }
