.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f28 { font-size: 28px; }
.f48 { font-size: 48px; }

.font-normal { font-weight: normal; }
.font-bold   { font-weight: bold; }
.font-italic { font-style: italic; }

.text-nowrap { white-space: nowrap; }

.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }
