{
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "globals": {
    "$": true,
    "App": true,
    "Mousetrap": true,
    "Vue": true,
    "VueI18n": true
  },
  "rules": {
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "el",
          "vm",
          "state"
        ]
      }
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
