/.idea
/node_modules
/public/assets
/public/build
/public/hot
/public/images
/public/mix-manifest.json
/public/vendor
/vendor
/_ide_helper.php
/.phpstorm.meta.php
/auth.json
.DS_Store
.env
.phpunit.result.cache
.tm_properties
Thumbs.db
composer.phar
