services:
  #  manticoresearch:
  #    image: manticoresearch/manticore:15.1.0
  #    restart: unless-stopped
  #    container_name: hosting-manticoresearch
  #    ports:
  #      - "9306:9306"
  #      - "9308:9308"
  #    volumes:
  #      - ./.docker/manticoresearch/manticore.conf:/etc/manticoresearch/manticore.conf
  #      - ./.docker/manticoresearch/data:/var/lib/manticore
  #    profiles:
  #      - manticoresearch

  meilisearch:
    image: getmeili/meilisearch
    restart: unless-stopped
    container_name: hosting-meilisearch
    profiles:
      - meilisearch

  mysql:
    image: mysql:8.4
    restart: unless-stopped
    container_name: hosting-mysql
    ports:
      - "${HOST_MYSQL_PORT:-3306}:3306"
    volumes:
      - ./.docker/mysql/data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: hosting
      MYSQL_USER: hosting
      MYSQL_PASSWORD: hosting
      MYSQL_ROOT_PASSWORD: root
    profiles:
      - db

  nginx:
    image: nginx:stable-alpine-slim
    restart: unless-stopped
    container_name: hosting-nginx
    working_dir: /app
    ports:
      - "${HOST_NGINX_PORT:-80}:80"
    volumes:
      - ./.docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./:/app

  php-fpm:
    build: ./
    restart: unless-stopped
    container_name: hosting-php-fpm
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      DB_HOST: ${HOST_DB_HOST:-$DB_HOST}
      DB_SOCKET: ""
      GM_BIN: /usr/bin/gm convert
      LOG_CHANNEL: stdout
      REDIS_URL: ${HOST_REDIS_URL:-$REDIS_URL}

  php-queue:
    image: hosting-php-fpm
    command: [ "php", "artisan", "queue:work", "--tries=3" ]
    restart: unless-stopped
    container_name: hosting-php-queue
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      DB_HOST: ${HOST_DB_HOST:-$DB_HOST}
      DB_SOCKET: ""
      LOG_CHANNEL: stdout
      REDIS_URL: ${HOST_REDIS_URL:-$REDIS_URL}

  php-scheduler:
    image: hosting-php-fpm
    command: [ "php", "artisan", "schedule:work" ]
    restart: unless-stopped
    container_name: hosting-php-scheduler
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      DB_HOST: ${HOST_DB_HOST:-$DB_HOST}
      DB_SOCKET: ""
      LOG_CHANNEL: stdout
      REDIS_URL: ${HOST_REDIS_URL:-$REDIS_URL}

  redis:
    image: redis:alpine
    restart: unless-stopped
    container_name: hosting-redis
    profiles:
      - redis

  sphinxsearch:
    build: .docker/sphinxsearch
    restart: unless-stopped
    container_name: hosting-sphinxsearch
    ports:
      - "9306:9306"
    volumes:
      - ./.docker/sphinxsearch/sphinx.conf:/etc/sphinxsearch/sphinx.conf
      - ./.docker/sphinxsearch/data:/var/lib/sphinx/data
    profiles:
      - sphinxsearch
