.footer {
  background-color: #fafafa;
  border-top: $border-width solid $border-color;
  color: $gray-light;
  min-height: 44px;

  .no-footer & { display: none; }
}

.kbd {
  padding: 0 .5rem;
  color: #333;
  text-shadow: 0 1px 0 rgba(#fff, 1.0);
  box-shadow: 0 1px 1px rgba(#000, .1);
  background: #eee linear-gradient(#fafafa, #e0e0e0);
  border: 1px solid #bbb;
  border-top-color: #ddd;
  border-radius: 4px;
}

.text-muted { color: $text-muted; }
