.image-100 {
  width: 100px;
  height: 75px;
}

.image-200 {
  width: 200px;
  height: 150px;
}

.image-fit-viewport { max-height: 90vh; }

.screenshot {
  border: 1px solid rgba(#000, .15);
  box-shadow: 0 3px 6px rgba(#000, .175);
  background-clip: padding-box;
  max-width: 100%;
  height: auto;
}

.border-hover:hover,
.screenshot-link .screenshot:hover { border-color: var(--link-hover-border-color) !important; }
