.bg-burned {
  background: linear-gradient(to bottom, #555, #484848);
  box-shadow: 0 10px 10px rgba(#000, .4) inset;
}

.bg-kanji { background: linear-gradient(to bottom, #f0a, #dd0093); }
.bg-radical { background: linear-gradient(to bottom, #0af, #0093dd); }
.bg-vocab { background: linear-gradient(to bottom, #a0f, #9300dd); }

.border-kanji {
  border-top: 1px solid #f6c;
  border-bottom: 1px solid #cc0088;
}

.border-radical {
  border-top: 1px solid #88d7ff;
  border-bottom: 1px solid #069;
}

.border-vocab {
  border-top: 1px solid #c655ff;
  border-bottom: 1px solid #8800cc;
}

.ja-image-shadow { filter: drop-shadow(0 2px 0 rgba(#000, .3)); }
.ja-shadow { text-shadow: 0 2px 0 rgba(#000, .3); }
.ja-shadow-light { text-shadow: 0 1px 0 rgba(#000, .3); }

.ja-svg {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-miterlimit: 2;
  stroke-width: 68px;
}

.svg-radical {
  display: inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}

.vocab-grid {
  @include media-breakpoint-up(md) {
    grid-template-columns: max-content 2rem max-content auto max-content;
  }
}
