.link,
.pseudo {
  color: var(--link-color);
  cursor: pointer;
  outline: 0;
  text-decoration-color: var(--link-border-color);
  text-underline-offset: var(--link-underline-offset);
  text-decoration-style: solid;
  text-decoration-thickness: 1px;

  &:hover,
  &:focus,
  &.active,
  .link-parent:hover & {
    color: var(--link-hover-color) !important;
    text-decoration-color: var(--link-hover-border-color) !important;
    text-decoration-thickness: 1px;

    .svg-icon { fill: var(--link-hover-color) !important; }
  }

  &:visited,
  .link-parent:visited & {
    color: var(--link-visited-color);
    text-decoration-color: var(--link-visited-border-color);

    .svg-icon { fill: var(--link-visited-color); }
  }
}

.link,
.link:hover,
.link:focus,
.link:visited,
.link.active {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.pseudo,
.pseudo:hover,
.pseudo:focus,
.pseudo:visited,
.pseudo.active {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.visited {
  &:hover,
  &:focus {
    color: var(--link-hover-color) !important;
    text-decoration-color: var(--link-hover-border-color) !important;

    .svg-icon { fill: var(--link-hover-color) !important; }
  }

  &:visited {
    color: var(--link-visited-color);
    text-decoration-color: var(--link-visited-border-color);

    .svg-icon { fill: var(--link-visited-color); }
  }
}
