a[href^="http"]:empty::before { content: attr(href); }

// После достаточной поддержки браузерами можно будет
// отказаться от border-bottom в ссылках в пользу [text-]underline

.link,
.pseudo {
  border-bottom: 1px solid; // underline migration
  border-color: var(--link-border-color); // underline migration
  color: var(--link-color);
  cursor: pointer;
  outline: 0;
  // text-decoration-color: var(--link-border-color);
  // text-underline-offset: var(--link-underline-offset);

  &:hover,
  &:focus,
  &.active,
  .link-parent:hover & {
    border-color: var(--link-hover-border-color) !important; // underline migration
    color: var(--link-hover-color) !important;
    // text-decoration-color: var(--link-hover-border-color) !important;

    .svg-icon { fill: var(--link-hover-color) !important; }
  }

  &.active { border: none; } // underline migration

  &:visited,
  .link-parent:visited & {
    border-color: var(--link-visited-border-color); // underline migration
    color: var(--link-visited-color);
    // text-decoration-color: var(--link-visited-border-color);

    .svg-icon { fill: var(--link-visited-color); }
  }
}

/*
.link,
.link:hover,
.link:focus,
.link:visited,
.link.active {
  text-decoration: underline;
}
*/

.no-pointer-events { pointer-events: none; }

.pseudo { border-bottom-style: dotted; } // underline migration
/*
.pseudo,
.pseudo:hover,
.pseudo:focus,
.pseudo:visited,
.pseudo.active {
  text-decoration: underline dashed;
}
*/

.visited {
  &:hover,
  &:focus {
    border-color: var(--link-hover-border-color) !important; // underline migration
    color: var(--link-hover-color) !important;
    // text-decoration-color: var(--link-hover-border-color) !important;

    .svg-icon { fill: var(--link-hover-color) !important; }
  }

  &:visited {
    border-color: var(--link-visited-border-color); // underline migration
    color: var(--link-visited-color);
    // text-decoration-color: var(--link-visited-border-color);

    .svg-icon { fill: var(--link-visited-color); }
  }
}
