$notie-color-info: rgba(#000, .65);
$notie-color-neutral: rgba(#fff, .95);
$notie-color-overlay: rgba(#000, .4);
$notie-border-bottom-color: rgba(#000, .2);

@import "../../node_modules/notie/src/notie";

.notie-textbox {
  padding: 1rem;
}

.notie-background-info {
  backdrop-filter: blur(10px);

  &:not(.notie-alert) {
    color: var(--text-muted);
    background-color: $notie-color-neutral;
    border-bottom: 1px solid $notie-border-bottom-color;
  }
}

// Выбор действия
.notie-button {
  // Кнопка «Отмена»
  &.notie-background-info {
    color: #007aff;
    background-color: $notie-color-neutral;
    border-bottom: 1px solid $notie-border-bottom-color;
  }

  // Кнопка действия
  &.notie-background-neutral {
    color: #ff3b30;
  }
}
