$dark-bg-color: #2f343a;
$dark-text-color: #ccc;
$dark-link-color: #00aeff;
$dark-link-visited-color: #82c5ff;
$dark-link-hover-color: #91e4ff;

$dark-border-color: darken($dark-bg-color, 6.5%);
$dark-bg-lighter-color: lighten($dark-bg-color, 10%);

.theme-dark {
  background-color: $dark-bg-color;
  color: $dark-text-color;

  code { color: $yellow; }

  footer {
    background-color: lighten($dark-bg-color, 10%);
    border-color: $dark-border-color;
  }

  hr { border-color: $dark-border-color; }
  pre { color: $dark-text-color; }

  .chat-container,
  .custom-file-label,
  .form-control {
    background-color: lighten($dark-bg-color, 15%);
    border-color: $dark-border-color;
    color: $dark-text-color;
  }

  .custom-select {
    background: lighten($dark-bg-color, 15%) $custom-select-indicator no-repeat right $custom-select-padding-x center;
    background-size: $custom-select-bg-size;
    border-color: $dark-border-color;
    color: $dark-text-color;
  }

  .sticky-bottom-buttons {
    background: rgba(0, 0, 0, .3);
    border-color: $dark-border-color;
  }

  .bg-gray-200 { background-color: lighten($dark-bg-color, 10%) !important; }
  .bg-light { background-color: lighten($dark-bg-color, 15%) !important; }
  .border { border-color: $dark-border-color !important; }

  .breadcrumbs {
    background-color: lighten($dark-bg-color, 10%);

    a {
      color: $dark-link-color;

      &:hover,
      &:focus {
        color: $dark-link-hover-color !important;

        .svg-icon { fill: $dark-link-hover-color !important; }
      }
    }
  }

  .btn-default { border-color: $dark-border-color; }

  .border-top,
  .border-right,
  .border-bottom,
  .border-left { border-color: $dark-border-color !important; }

  .bottom-tab {
    color: $dark-text-color;

    &:hover,
    &:focus,
    &.active {
      color: $dark-link-color;
    }
  }

  .bottom-tabbar-container {
    background: $dark-bg-lighter-color;
    border-color: $dark-border-color;
  }

  .chat-container {
    &::-webkit-scrollbar { width: 12px; }

    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: $dark-bg-color;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: lighten($dark-bg-color, 15%);
    }
  }

  .comment-container { border-color: $dark-border-color; }

  .dropdown-menu {
    background: $dark-bg-lighter-color;
    border-color: $dark-border-color;

    .dropdown-divider { border-color: $dark-border-color; }

    .dropdown-item {
      color: $dark-text-color;

      &:hover {
        color: $dark-text-color;
        background: $dark-bg-color;
      }
    }
  }

  .torrent-categories a,
  .torrents-list-container a,
  .link,
  .pseudo {
    border: none;
    color: $dark-link-color;

    &:hover,
    &:focus,
    &.active,
    .link-parent:hover & {
      color: $dark-link-hover-color !important;

      .svg-icon { fill: $dark-link-hover-color !important; }
    }

    &:visited,
    .link-parent:visited & {
      color: $dark-link-visited-color;

      .svg-icon { fill: $dark-link-visited-color; }
    }
  }

  .link-parent:hover {
    .torrent-categories a,
    .torrents-list-container a,
    .link,
    .pseudo {
      color: $dark-link-hover-color !important;

      .svg-icon { fill: $dark-link-hover-color !important; }
    }
  }

  .link-parent:visited {
    .torrent-categories a,
    .torrents-list-container a,
    .link,
    .pseudo {
      color: $dark-link-visited-color;

      .svg-icon { fill: $dark-link-visited-color; }
    }
  }

  .list-group-item-action {
    background-color: $dark-bg-lighter-color;
    border-color: $dark-border-color;
    color: $dark-text-color;

    &.active { color: #fff; }

    &:hover {
      background-color: lighten($dark-bg-lighter-color, 5%);
      border-color: $dark-border-color;
      color: #fff;
    }
  }

  .nav-border,
  .navbar-border { border-color: $dark-border-color; }

  .nav-border .nav-link:hover {
    border-color: $gray-600;
    color: $dark-text-color;
  }

  .nav-link-tabs .nav-link.active {
    border-color: $primary;
    color: $dark-text-color;
  }

  .page-item .page-link {
    background-color: $dark-bg-lighter-color;
    border-color: $dark-border-color;
    color: $dark-text-color;

    &:hover {
      background-color: lighten($dark-bg-lighter-color, 5%);
      color: #fff;
    }
  }

  .page-item.active .page-link {
    background-color: $primary;
    border-color: $dark-border-color;
  }
  .page-item.disabled .page-link {
    background-color: $dark-bg-lighter-color;
    border-color: $dark-border-color;
  }

  .card,
  .card-header,
  .card-footer {
    background: $dark-bg-lighter-color;
    border-color: $dark-border-color;
    color: $dark-text-color;
  }

  .rutracker-post .sp-wrap {
    background-color: $dark-bg-lighter-color;
    border-color: $dark-border-color;
  }

  .rutracker-post .sp-body {
    background-color: lighten($dark-bg-lighter-color, 5%);
    border-color: $dark-border-color;
  }

  .rutracker-post .sp-head span { color: $dark-text-color; }

  .text-dark { color: $dark-text-color !important; }
  .text-muted { color: #999; }
  .text-success { color: #5cb85c; }

  .torrents-list-container {
    @include media-breakpoint-up(md) {
      &:hover { background-color: $dark-bg-lighter-color; }
    }
  }

  .table-stats {
    border-color: $dark-border-color;

    tr + tr,
    td,
    th,
    thead,
    tfoot { border-color: $dark-border-color; }

    tbody tr:nth-child(2n) { background-color: lighten($dark-bg-color, 5%); }

    thead,
    tfoot,
    .thead {
      background: lighten($dark-bg-color, 5%) linear-gradient(lighten($dark-bg-color, 15%), lighten($dark-bg-color, 5%)) repeat-x;
    }

    thead {
      @include media-breakpoint-up(md) {
        th {
          background: lighten($dark-bg-color, 5%) linear-gradient(lighten($dark-bg-color, 15%), lighten($dark-bg-color, 5%)) repeat-x;

          &:after {
            border-color: $dark-border-color;
          }
        }
      }
    }
  }
}
