.rutracker-post {
  word-wrap: break-word;
  margin-bottom: 1rem;

  pre {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
  }

  ul, ol { margin: 8px auto 8px 8px; }
  li { margin: 0 4px 1px 24px; }

  .c-body,
  .q,
  .sp-wrap,
  .sp-head,
  .sp-body {
    border: solid #C3CBD1;
    border-width: 1px 1px 1px 2px;
    clear: both;
  }

  .c-wrap,
  .q-wrap,
  .sp-wrap {
    width: 98%;
    clear: both;
  }

  .c-head,
  .q-head,
  .sp-head {
    text-align: left !important;
    min-width: 150px;
    min-height: 14px;
  }

  .c-body,
  .q,
  .sp-body {
    padding: 2px 6px;
  }

  .post-align,
  .post-br,
  .post-hr,
  .postImgAligned {
    display: block;
  }

  .postImg {
    display: inline-block;
    margin: 2px 2px 0 0;
    max-width: 100%;
  }
  .postImgAligned { margin: 4px 4px 2px; }

  .img-left {
    float: left;
    clear: left;
  }

  .img-right {
    float: right;
    clear: right;
  }

  .post-b { font-weight: bold; }
  .post-i { font-style: italic; }
  .post-pre {
    white-space: pre-wrap;
    font-family: monospace
  }
  .post-s { text-decoration: line-through; }
  .post-u { text-decoration: underline; }

  .post-box {
    display: inline-block;
    border: 1px solid #a7b4ba;
    border-radius: 3px;
    line-height: 150%;
    margin: 1px 5px;
    padding: 0 8px 1px;
  }

  .post-box .sp-wrap { min-width: 250px; }
  .post-box-default { display: inline-block; }
  .post-box-left { float: left; }
  .post-box-right { float: right; }

  .post-box-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  .post-ul { list-style: disc; }
  .post-ul .post-ul { list-style: circle; }
  .post-ul .post-ul .post-ul { list-style: square; }

  .sp-body {
    border-width: 1px 0 0 0;
    display: none;
    font-weight: normal;
    background: #F5F5F5;
  }

  .sp-fold {
    width: 98%;
    margin: 0 auto;
    text-align: right;
    font-size: 10px;
    color: #444444;
    clear: both;
  }

  .sp-head {
    border-width: 0;
    padding: 1px 14px 3px;
    cursor: pointer;
    font-weight: bold;

    span {
      display: inline-block;
      margin: 0;
      font-family: Verdana, sans-serif;
      font-style: normal;
      font-size: 11px !important;
      line-height: 15px;
      text-decoration: none;
      color: #2A2A2A;
    }
  }

  .folded span:before { content: '+ '; font-family: monospace; }
  .unfolded span:before { content: '- '; font-family: monospace; }

  .sp-wrap {
    padding: 0;
    background: #E9E9E6;

    .folded {
      display: block;
      padding-left: 14px;
      // background
    }
  }

  .sp-wrap,
  .post-hr {
    margin: 8px auto;
  }

  .post-hr hr { margin: 0; }

  .postLink {
    text-decoration: underline;
    text-decoration-color: $link-border-color;
    text-underline-offset: $link-underline-offset;
    color: $link-color;
    cursor: pointer;
    outline: 0;

    &:hover,
    &:focus,
    &.active {
      color: $link-hover-color !important;
      text-decoration-color: $link-hover-border-color !important;
    }

    &:visited {
      color: $link-visited-color;
      text-decoration-color: $link-visited-border-color;
    }
  }
}

.hide-brackets .torrent-brackets { display: none; }
.torrent-title.hide-brackets { font-weight: normal; }

.torrent-brackets { font-weight: normal; }
.torrent-icon {
  .svg-icon { @include media-breakpoint-up(md) { font-size: 1.5rem; } }
  .svg-icon-collection-play { color: #ca8e3f; }
  .svg-icon-file-text-o { color: $gray-light; }
  .svg-icon-film { color: #428bca; }
  .svg-icon-gamepad { color: #a94442; }
  .svg-icon-music { color: #960ed7; }
  .svg-icon-smile-o { color: #3c763d; }
}
.torrent-title { font-weight: bold; }

// Список раздач
.torrents-list-container {
  & + & { margin-top: 2rem; }

  @include media-breakpoint-up(md) {
    & + & { margin-top: 1rem; }
    &:hover { background-color: #f6f6f6; }
  }
}

.torrents-list-magnet {
  width: 4.375rem;
  order: 2;
}

.torrents-list-size {
  width: 4.375rem;
  order: 3;
}
