$nav-border-color: $gray-100;
$nav-border-width: .125rem;
$nav-hover-border-color: $gray-400;
$nav-active-border-color: $primary;

$navbar-border-color: $gray-200;
$navbar-border-width: $nav-border-width;
$navbar-active-border-color: #51a7f9;
