$btn-transition: none;
$enable-shadows: true;
$enable-gradients: true;
$yiq-contrasted-threshold: 170;

$blue: #337ab7;
$orange: #fd7e14;
$flame: #e05b2f;
$forest: #1fb27e;
$sunny: #f2f281;
$cerulean: #3c75c2;
$mahogany: #7040ad;
$sky: #89d2f6;

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1170px,
);
