@if (sizeof($errors))
  <div class="alert alert-danger">
    <ul>
      @foreach ($errors->all() as $error)
        <li>{{ $error }}</li>
      @endforeach
    </ul>
  </div>
@endif

<div class="form-group {{ $errors->has('title') ? 'has-error' : '' }}">
  <label class="col-md-2 control-label required">Название:</label>
  <div class="col-md-10">
    <input required type="text" class="form-control" name="title" value="{{ old('title') ?: @$server->title }}">
  </div>
</div>

<div class="form-group {{ $errors->has('host') ? 'has-error' : '' }}">
  <label class="col-md-2 control-label required">Хост:</label>
  <div class="col-md-10">
    <input required type="text" class="form-control" name="host" placeholder="srv1.example.com" value="{{ old('host') ?: @$server->host }}">
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">Заметки:</label>
  <div class="col-md-10">
    <textarea class="form-control" name="text" rows="10">{{ old('text') ?: @$server->text }}</textarea>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <h3 style="margin-bottom: 0.5em;">Реквизиты доступа</h3>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label">FTP:</label>
  <div class="col-md-10">
    <div class="input-group">
      <input type="text" class="form-control" name="ftp_user" placeholder="user" value="{{ old('ftp_user') ?: @$server->ftp_user }}">
      <span class="input-group-addon">:</span>
      <input type="password" class="form-control" name="ftp_pass">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" name="ftp_host" placeholder="srv1.example.com" value="{{ old('ftp_host') ?: @$server->ftp_host }}">
      <span class="input-group-addon"></span>
      <input type="text" class="form-control" name="ftp_root" placeholder="/srv/www/vhosts" value="{{ old('ftp_root') ?: @$server->ftp_root }}">
    </div>
    <p class="help-block">Адрес хоста фтп не нужно вводить, если он не отличается от такового сервера</p>
  </div>
</div>
