.box-shadow-b {
  --box-shadow-color: #000;
  box-shadow: inset 0 -2px 0 var(--box-shadow-color);
}

.shadow-gray-100 {
  --box-shadow-color: #f4f5f7;
}

.shadow-grey-200 {
  --box-shadow-color: hsl(208, 10%, 90%);
}
