@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/InterVariable-Italic.woff2") format("woff2");
}

:root {
  font-feature-settings: "calt", "cv02", "cv03", "cv04";
  font-optical-sizing: auto;
}

.single-story-a {
  font-feature-settings: "cv11";
}
