.flag-16 {
  width: 1em;
  height: .75em;
  font-size: 1rem;
  vertical-align: -.125em;
}

.flag-24 {
  width: 1em;
  height: .75em;
  font-size: 1.5rem;
  vertical-align: -.125em;
}

.brightness-3\/4 {
  filter: brightness(.75);
}

.group:hover .group-hover\:brightness-full {
  filter: brightness(1);
}
