.top-2 {
  top: .5rem;
}

.hanging-puntuation-first {
  hanging-punctuation: first;
}

.small-caps { font-variant: small-caps; }

.mobile-wide {
  @apply -mx-4;
}

@screen sm {
  .mobile-wide {
    @apply mx-0;
  }
}
