.font-tabular-nums {
  font-variant-numeric: tabular-nums;
}

.is-desktop .desktop-hidden {
  display: none;
}

.hanging-puntuation-first {
  hanging-punctuation: first;
}

.mobile-wide {
  @apply -mx-4;
}

@screen sm {
  .mobile-wide {
    @apply mx-0;
  }
}

.small-caps { font-variant: small-caps; }

.top-2 {
  top: .5rem;
}

[v-cloak] { display: none; }
