@layer utilities {
  .is-desktop .desktop-hidden {
    display: none;
  }

  .hanging-punctuation-first {
    hanging-punctuation: first;
  }

  .prepend-dollar::before {
    content: '$ ';
  }

  /* Особенность шрифта Inter */
  .single-story-a {
    font-feature-settings: "cv11";
  }

  .small-caps {
    font-variant: small-caps;
  }

  [hidden],
  [v-cloak] {
    display: none;
  }
}
