.is-desktop .desktop-hidden {
  display: none;
}

.hanging-puntuation-first {
  hanging-punctuation: first;
}

.hide-empty:empty { display: none; }

.mobile-wide {
  @apply -mx-4;
}

@screen sm {
  .mobile-wide {
    @apply mx-0;
  }
}

.prepend-dollar::before { content: '$ '; }

.small-caps { font-variant: small-caps; }

[hidden],
[v-cloak] { display: none; }
