:root {
  --link-color: #337ab7;
  --link-decoration: none;
  --link-hover-color: #d23232;
  --link-hover-decoration: none;

  --mark-bg: #fcf8e3;

  --nav-border-color: #51a7f9;

  --tooltip-max-width: 250px;
  --tooltip-background-color: rgba(27, 31, 35, .9);
  --tooltip-text-color: #fff;
  --tooltip-delay: .4s;
  --tooltip-duration: .1s;
}
