.city-timeline {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.city-timeline-column {
  display: inline-block;
  padding-left: 0;
  list-style: none;
  margin: 0 1.5rem 0 0;
  vertical-align: top;

  &:last-child { margin-right: 0; }
}
