.city-timeline {
  font-size: 14px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.city-timeline-column {
  display: inline-block;
  padding-left: 0;
  list-style: none;
  margin: 0 25px 0 0;
  vertical-align: top;

  &:last-child { margin-right: 0; }
}

.city-timeline-year { font-weight: bold; }
