// В IE10 так не пропадает контент после закрытия модального окна
html { overflow-y: scroll; }
html,
body {
  height: 100%;
}

// Чтобы страница не проматывалась в начало,
// когда показываются модальные окна bootstrap
body.modal-open { overflow: visible; }

a[href^="http"]:empty::before { content: attr(href); }
a:hover,
a:focus { text-decoration: none; }

.link,
.pseudo {
  border-bottom: 1px solid;
  border-color: rgba(66, 139, 202, 0.3);
  color: $link-color;
  cursor: pointer;
  outline: 0;
  text-decoration: none;

  &:hover,
  &:focus,
  &.active {
    border-color: rgba(210, 50, 50, 0.5) !important;
    color: $link-hover-color !important;
    text-decoration: none;

    .svg-icon { fill: $link-hover-color !important; }
  }

  &.active { border: none; }

  &:visited {
    border-color: rgba(102, 14, 122, 0.3);
    color: #660e7a;

    .svg-icon { fill: #660e7a; }
  }
}

.pseudo { border-bottom-style: dotted; }

footer {
  border-top: 1px solid #eee;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #777;

  ul { margin-bottom: 0; }
}

kbd {
  padding: 0 8px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,1.0);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: #eee linear-gradient(#fafafa, #e0e0e0);
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #ddd;
  border-radius: 4px;
}

img { vertical-align: text-top; }
small { font-size: 12px; }
section { padding-top: 30px; }

.wrap-content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -49px;
}
.wrap-content-fixed-header {
  > .container { padding-top: 60px; }
}
.wrap-push { height: 49px; }
