html {
  font-size: $font-size-root;
  height: 100%;

  // В IE10 так не пропадает контент после закрытия модального окна
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

// Чтобы страница не проматывалась в начало,
// когда показываются модальные окна bootstrap
body.modal-open { overflow: visible; }

blockquote {
  padding: 0 1.25rem;
  margin: .5rem 0 1rem;
}

.footer {
  background-color: #fafafa;
  border-top: 1px solid $border-color;
  padding-top: 0.7rem;
  padding-bottom: 0.8rem;
  margin-top: 1.5rem;
  color: $gray-light;
  font-size: 13px;
  line-height: 18px;
  min-height: 43px;
}

kbd {
  padding: 0 8px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  background: #eee linear-gradient(#fafafa, #e0e0e0);
  border: 1px solid #bbb;
  border-top-color: #ddd;
  border-radius: 4px;
}

mark { padding-top: 0; }
p { margin-bottom: 1rem; }
small { font-size: 12px; }
section { padding-top: 30px; }

.alert ul,
.alert ol {
  margin-bottom: 0;
}

.container-flex { flex: 1 0 auto; }
