$navbar-default-bg: #f8f8f8;
// $navbar-default-bg: rgba($white, .95);
// apple from #f9f9f9 to #f2f2f2

.body-with-bottom-tabbar {
  padding-bottom: $bottom-tabbar-height;

  @include media-breakpoint-up(sm) { padding-bottom: $bottom-tabbar-sm-height; }
  @include media-breakpoint-up(md) { padding-bottom: 0; }
}

.bottom-tabbar-container {
  z-index: $zindex-fixed;
  background: $navbar-default-bg linear-gradient(to bottom, lighten($navbar-default-bg, 10%) 0%, $navbar-default-bg 100%) repeat-x;
  border-top: 1px solid $gray-300;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 5px rgba($black, .075);
  transform: translateY(100%) translateZ(0);
  transition: 200ms ease-out;
  will-change: transform;

  &.revealed { transform: translateY(0%) translateZ(0); }
}

.bottom-tab {
  color: $gray-light;
  text-shadow: 0 1px 0 rgba($white, .25);

  &:hover,
  &:focus,
  &.active { color: $primary; }

  .svg-icon {
    font-size: 18px;
    margin-top: 0;
  }
}
