.chat-container {
  overflow-y: auto;
  height: 25vh;
  padding: .25rem .75rem .25rem .5rem;
  background: #efefef;
  border: $border-width solid $input-border-color;
}

.chat-date {
  font-size: .75rem;
  color: #aaa;
}
