.dl-equal {
  dt, dd { width: 50%; }
}

.dl-table {
  display: table;

  dt, dd {
    display: table-cell;
    word-wrap: break-word;
  }

  dt {
    text-align: right;
    padding-right: .25rem;
  }

  dd { padding-left: .25rem; }
}

.dt-gray dt {
  color: $gray-light;
  font-weight: normal;
}
