.faq-anchor {
  text-decoration: none;
  line-height: 1;
  margin-left: -20px;
  cursor: default;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-top: 12px solid transparent;
  margin-top: -10px;
  background-clip: padding-box;
  outline: 0;

  @media (max-width: $screen-xs-max) { opacity: 0; }

  &:focus { outline: 0; }
}

.faq-section-title { margin: 2em 0 0 0; }

.faq-question {
  margin-top: 26px;
  margin-bottom: 7px;
  font-weight: bold;
  position: relative;
}

.faq-question-list {
  margin-top: 0.3em;
  margin-bottom: 2em;

  li { margin-bottom: 0.3em; }
}
