$input-padding-top: 1.25rem;
$input-padding-bottom: .25rem;
$height-inner: ($font-size-base * $input-btn-line-height) + $input-padding-top + $input-padding-bottom;
$height-inner-sm: ($font-size-sm * $input-btn-line-height-sm) + $input-padding-top + $input-padding-bottom;
$height-inner-lg: ($font-size-lg * $input-btn-line-height-lg) + $input-padding-top + $input-padding-bottom;

.form-label-group {
  position: relative;

  .form-control { height: calc(#{$height-inner} + #{$input-height-border}); }
  .form-control-sm { height: calc(#{$height-inner-sm} + #{$input-height-border}); }
  .form-control-lg { height: calc(#{$height-inner-lg} + #{$input-height-border}); }

  .form-control:not(:placeholder-shown):not(.placeholder-shown) {
    padding-top: $input-padding-top;
    padding-bottom: $input-padding-bottom;

    & ~ label {
      padding-top: .25rem;
      padding-bottom: .25rem;
      font-size: .75rem;
      color: #686f76;
    }
  }

  & > input,
  & > label {
    padding: .75rem;
  }

  & > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: left;
    color: #a9acb0;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-weight: normal;
    transition: all .1s ease-in-out;
    pointer-events: none;
  }
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder,
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}
