.heading-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $screen-sm-min) { flex-wrap: nowrap; }
}

.heading-menu-search-form {
  display: flex;
  padding-top: 0.5rem;

  @media (min-width: $screen-sm-min) {
    display: inline-flex;
    padding-left: 0.5rem;
    padding-top: 0;
  }
}
