.image-100 {
  width: 100px;
  height: 75px;
}

.image-200 {
  width: 200px;
  height: 150px;
}

.image-fit-viewport { max-height: 90vh; }

.screenshot {
  border: 1px solid rgba($black, .15);
  box-shadow: 0 3px 6px rgba($black, .175);
  background-clip: padding-box;
  max-width: 100%;
  height: auto;
}

.border-hover:hover,
.screenshot-link .screenshot:hover { border-color: $link-hover-border-color !important; }

.img-container {
  margin-bottom: 1.5rem;
  text-align: center;

  @include mobile-wide;

  img {
    height: auto;
    max-height: 90vh;
    max-width: 100%;

    @include media-breakpoint-up(md) { border-radius: $border-radius-lg; }
  }
}
