.screenshot {
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  max-width: 100%;
}

.fotorama,
.img-container {
  margin-bottom: 1.5em;
  text-align: center;
}

.fotorama,
.img-container,
.vk-post-img-container {
  margin-left: -15px;
  margin-right: -15px;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.img-container img,
.vk-post-img-container img {
  height: auto;
  max-width: 100%;

  @media (min-width: 768px) {
    border-radius: 6px;
  }
}

.fotorama__wrap--css3 .fotorama__stage .fotorama__img {
  @media (min-width: 768px) {
    border-radius: 6px !important;
  }
}

.fotorama-left .fotorama__wrap { margin: 0; }

.fotorama__wrap {
  margin: 0 auto;
}
