.gallery-image {
  min-height: 1px;
  position: relative;
  width: 100%;
  flex-grow: 1;
  max-width: 100%;
  vertical-align: bottom;
  align-self: flex-end;

  @media (min-width: $screen-sm-min) {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  @media (min-width: $screen-md-min) {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.gallery-photo-container {
  display: inline-block;
  position: relative;
}

.gallery-photo { max-width: 100%; }

.image-label {
  position: absolute;
  left: 4px;
  bottom: 4px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 2px 7px;
  color: #fff;
  font-weight: bold;
  pointer-events: none;
  font-size: 11px;
  line-height: 1.42857143;
  margin-right: 4px;
}

.image-100 {
  width: 100px;
  height: 75px;
  object-fit: cover;
}

.image-200 {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.image-fit-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image-fit-viewport { max-height: 90vh; }

.image-sm-4x3-2col {
  @media (min-width: $screen-sm-min) { height: (720px / 2 * .75); }
  @media (min-width: $screen-md-min) { height: (940px / 2 * .75); }
  @media (min-width: $screen-lg-min) { height: (1140px / 2 * .75); }
}

.image-md-4x3-3col {
  @media (min-width: $screen-md-min) { height: (940px / 3 * .75); }
  @media (min-width: $screen-lg-min) { height: (1140px / 3 * .75); }
}

.screenshot {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  max-width: 100%;
}

.screenshot-link .screenshot:hover { border-color: $link-hover-border-color; }

.img-container {
  margin-bottom: 1.5rem;
  text-align: center;

  @include mobile-wide;

  img {
    height: auto;
    max-height: 90vh;
    max-width: 100%;

    @media (min-width: $screen-sm-min) { border-radius: $border-radius-large; }
  }
}
