.bg-burned {
  &.bg-kanji,
  &.bg-radical,
  &.bg-vocab {
    background: linear-gradient(to bottom, #555, #484848);
    box-shadow: 0 10px 10px rgba($black, .4) inset;
  }
}

.bg-kanji { background: linear-gradient(to bottom, #f0a, #dd0093); }
.bg-radical { background: linear-gradient(to bottom, #0af, #0093dd); }
.bg-vocab { background: linear-gradient(to bottom, #a0f, #9300dd); }

.border-kanji {
  border-top: 1px solid #f6c;
  border-bottom: 1px solid #cc0088;
}

.border-radical {
  border-top: 1px solid #88d7ff;
  border-bottom: 1px solid #069;
}

.border-vocab {
  border-top: 1px solid #c655ff;
  border-bottom: 1px solid #8800cc;
}

.ja-big { font-size: 72px; }
.ja-character { line-height: 1; }
.ja-image-shadow { filter: drop-shadow(0 2px 0 rgba($black, .3)); }
.ja-shadow { text-shadow: 0 2px 0 rgba($black, .3); }
.ja-shadow-light { text-shadow: 0 1px 0 rgba($black, .3); }

.kanji-grid,
.radicals-grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);

  @include media-breakpoint-up(md) { grid-template-columns: repeat(6, 1fr); }
  @include media-breakpoint-up(lg) { grid-template-columns: repeat(7, 1fr); }
  @include media-breakpoint-up(xl) { grid-template-columns: repeat(8, 1fr); }
}

.vocab-grid {
  display: grid;
  align-items: center;

  @include media-breakpoint-down(sm) {
    .tw-invisible { display: none; }
  }

  @include media-breakpoint-up(md) {
    grid-row-gap: .125rem;
    grid-template-columns: max-content max-content max-content auto max-content;
  }
}
