@import "life/timelines";

.calendar-grid {
  display: grid;
  grid-template-columns: max-content repeat(31, 1fr);
  font-size: 11px;

  @include media-breakpoint-up(md) { font-size: 13px; }
}

.cities-columns { column-width: 12rem; }

.city-entry {
  page-break-inside: avoid;
  break-inside: avoid;
  margin-left: 1.5em;
  position: relative;
}
.travel-entry { margin-left: 3.5em; }

.city-trips,
.travel-month {
  color: $gray-light;
  font-size: 12px;
}

.city-initial {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 0 -1.5em;
}

.travel-year {
  position: sticky;
  top: .5rem;
  width: 3.375em;
}

/*
.cover {
  position: relative;
  margin-bottom: 1.5em;
  max-width: 1000px;
}

.cover-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background: center no-repeat;
  border-radius: 6px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(rgba(26, 26, 26, 0.1) 0%, rgba(26, 26, 26, 0.5) 50%);
    border-radius: 6px;
  }
}

.cover-description {
  font-weight: normal;
  display: none;

  @media (min-width: 768px) {
    font-size: 22px;
    display: block;
  }
}

.cover-meta {
  margin-top: 1em;
  font-size: 13px;

  @media (min-width: 768px) {
    margin-top: 2em;
  }
}

.cover-title {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  left: 3rem;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 24px;

  @media (min-width: 768px) {
    font-size: 36px;
  }
}
*/

.flag-16 {
  width: 1em;
  height: .75em;
  font-size: 1rem;
  vertical-align: -.125em;
}

.flag-24 {
  width: 1em;
  height: .75em;
  font-size: 1.5rem;
  vertical-align: -.125em;
}

.flag-shadow { filter: drop-shadow(0 0 1px rgba($black, .5)); }

.img-container .pic-1000x750 {
  width: 1000px;
  height: 750px;
}

.life-text {
  hanging-punctuation: first;

  p + .pic-container { margin-top: -.5rem; }

  @include media-breakpoint-up(lg) { font-size: 18px; }
  @include font-smoothing();
}

.photo-overlay-arrow {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  margin-top: -.5rem;
  color: $white;
  filter: drop-shadow(0 0 1px rgba($black, .4));
  line-height: 1;

  @include media-breakpoint-up(md) {
    font-size: 1.5rem;
    margin-top: -.75rem;
  }
}

.photo-overlay-arrow-next { right: .25rem; }
.photo-overlay-arrow-prev { left: .25rem; }

.photo-overlay-button {
  color: $white;
  filter: drop-shadow(0 0 1px rgba($black, .4));
}

.photo-overlay-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.pic {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
}

.pic-centered-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@include media-breakpoint-up(md) {
  .pic-centered-container {
    .pic:first-child .pic-group-border-radius,
    .pic-flexible:first-child .pic-group-border-radius {
      border-top-left-radius: $border-radius-lg;
      border-top-right-radius: $border-radius-lg;
    }

    .pic:last-child .pic-group-border-radius,
    .pic-flexible:last-child .pic-group-border-radius {
      border-bottom-right-radius: $border-radius-lg;
      border-bottom-left-radius: $border-radius-lg;
    }
  }
}

.trip-city-map {
  height: 250px;

  @include media-breakpoint-up(md) { height: 400px; }
  @include mobile-wide;
}

.trip-cover-date {
  color: #ccc;
  font-size: 12px;
}

.trip-cover-description {
  font-size: 12px;

  @include media-breakpoint-up(md) { font-size: 14px; }
}

.trip-cover-info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  text-shadow: 1px 1px 0 rgba($black, .8);
}
