@import "life/city-timeline";
@import "life/countries";
@import "life/movies";

.city-entry,
.favorites-entry,
.travel-entry {
  margin-bottom: 0.5em;
}

.city-entry { margin-left: 1.5em; }
.travel-entry { margin-left: 3.5em; }

.city-trips,
.travel-month {
  color: #777;
  margin-left: 3px;
  font-size: 12px;
}

.city-initial,
.travel-year {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
}

.city-initial { margin: 0 0 0 -1.5em; }
.travel-year { margin: 0 0 0 -3.5em; }

.travel-timeline-arrows {
  .horizontal { display: none; }

  @media (min-width: 768px) {
    .horizontal { display: inline; }
    .vertical { display: none; }
  }
}

.cover {
  position: relative;
  margin-bottom: 1.5em;
  max-width: 1000px;
}

.cover-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  background-size: cover;
  background: center no-repeat;
  border-radius: 6px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(rgba(26, 26, 26, 0.1) 0%, rgba(26, 26, 26, 0.5) 50%);
    border-radius: 6px;
  }
}

.cover-description {
  font-weight: normal;
  display: none;

  @media (min-width: 768px) {
    font-size: 22px;
    display: block;
  }
}

.cover-meta {
  margin-top: 1em;
  font-size: 13px;

  @media (min-width: 768px) {
    margin-top: 2em;
  }
}

.cover-title {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  left: 3rem;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 24px;

  @media (min-width: 768px) {
    font-size: 36px;
  }
}

.img-container .pic-1000x750 {
  width: 1000px;
  height: 750px;
}

.pic {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;

    @media (min-width: 768px) { border-radius: 6px; }
  }
}

.pic-container {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 1.5em;

  @media (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.pic-centered-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.travel-timeline-container {
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 2em;
  text-align: center;

  @media (min-width: 768px) {
    flex-flow: row wrap;
  }
}

.travel-timeline {
  margin-bottom: 1em;
}

.travel-timeline-date {
  color: #777;
  font-size: 12px;
}

.trip-lang-en {
  [lang=ru] { display: none; }
}

.trip-lang-ru {
  [lang=en] { display: none; }
}

.trip-text {
  max-width: 1000px;
  //margin: 0 auto;
}

.trips-show-by { font-size: 13px; }
