a[href^="http"]:empty::before { content: attr(href); }

.link,
.pseudo {
  border-bottom: 1px solid;
  border-color: $link-border-color;
  color: $link-color;
  cursor: pointer;
  outline: 0;

  &:hover,
  &:focus,
  &.active,
  .link-parent:hover & {
    border-color: $link-hover-border-color !important;
    color: $link-hover-color !important;

    .svg-icon { fill: $link-hover-color !important; }
  }

  &.active { border: none; }

  &:visited,
  .link-parent:visited & {
    border-color: $link-visited-border-color;
    color: $link-visited-color;

    .svg-icon { fill: $link-visited-color; }
  }
}

.link-cell {
  display: block;
  margin: -10rem;
  padding: 10rem;
}

.no-pointer-events { pointer-events: none; }

.pseudo { border-bottom-style: dotted; }

.visited {
  &:hover,
  &:focus {
    border-color: $link-hover-border-color !important;
    color: $link-hover-color !important;

    .svg-icon { fill: $link-hover-color !important; }
  }

  &:visited {
    border-color: $link-visited-border-color;
    color: $link-visited-color;

    .svg-icon { fill: $link-visited-color; }
  }
}
