ol.inline > li:first-child,
ul.inline > li:first-child {
  padding-left: 0;
}

.list-dialog {
  position: relative;
  list-style: none;
  padding-left: 1.5rem;

  li:before {
    content: '—';
    position: absolute;
    left: 0;
  }
}
