.container > .navbar-collapse { padding-left: 0; }

.navbar {
  border-radius: 0;
  margin-bottom: 0;

  .avatar-dropdown {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.navbar-default .navbar-brand {
  font-weight: bold;
  color: #005784;
  // font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-shadow: #ddd 2px 2px 2px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;

  &:hover { color: #d46400; }
}

.navbar-default.navbar-inverse .navbar-brand {
  color: #9d9d9d;
  text-shadow: none;

  &:hover { color: #fff; }
}

.navbar-nav .navbar-selected {
  border-bottom: 2px solid #51A7F9;
  padding-bottom: 11px;
}

.navbar .navbar-form .navbar-search-input {
  @media (min-width: $screen-sm-min) {
    width: 100px;
    transition: width 0.3s;

    &:focus { width: 150px; }
  }
}
