.page-section {
  @include mobile-wide;

  display: flex;
  flex: 1 0 auto;

  flex-flow: column;

  @media (min-width: 992px) { flex-flow: row; }
}

.page-block {
  display: flex;
  position: relative;
  @include font-smoothing();
}

.page-block-1x3 {
  @media (min-width: 992px) { width: 33.3%; }
}

.page-block-cover {
  position: relative;
  height: 220px;
  width: 100%;

  &:hover { opacity: .95; }

  @media (min-width: 768px) { height: 400px; }
  @media (min-width: 992px) { height: 230px; }
  @media (min-width: 1200px) { height: 280px; }
}

.page-block-cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #292929 no-repeat center top;
  background-size: cover;
}

.page-block-cover-date {
  color: #ccc;
  font-size: 12px;
}

.page-block-cover-description {
  font-weight: normal;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
    display: block;
  }
}

.page-block-cover-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .8);
}

.page-block-cover-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-block-cover-title { font-size: 18px; }
