.panel.focus { border-color: #bbb; }

.panel-body {
  .boxed-group {
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.flush { padding: 0; }
}

.panel-no-top-border {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
