.panel.focus { border-color: #aaa; }
.panel-body p:last-child { margin-bottom: 0; }

.panel-mobile-wide {
  @include mobile-wide;

  @media (max-width: $screen-xs-max) {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}
