$photo-max-height: 80vh;

.photo-map-container {
  height: calc(100vh - 195px);
  margin-bottom: -1.5rem;

  @include always-wide;
}

.photo-show-img {
  border: 0;
  box-shadow: 0 3px 6px rgba($black, .175);
  background-clip: padding-box;
  max-width: 100%;

  @include media-breakpoint-up(md) {
    border: 1px solid rgba($black, .15);
    max-height: $photo-max-height;
  }
}

.photo-show-nav {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 12; // На один больше фоторамы
}

.photo-show-next { left: 50%; }
.photo-show-prev { left: 0; }
