.services-container {
  margin-left: -1rem;
  margin-right: -1rem;
}

.service-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: $screen-sm-min) { flex-basis: 50%; }
  @media (min-width: $screen-md-min) { flex-basis: 33.33%; }
}

.service-image {
  width: 32px;
  height: 32px;
}

.service-title {
  margin-top: 0;
  margin-bottom: 0;
}
