.navbar-nav .avatar-dropdown .svg-angle-down { margin-top: 2px; }

.svg-avatar {
  @include size(50px);

  .navbar-nav & { @include size(36px); }
}

.svg-icon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  @include size(1em);
  margin-top: .125em;

  .svg-mt-0 & { margin-top: 0; }

  .navbar-nav & {
    font-size: 18px;
    margin-top: 0;
  }
}

.svg-icon-16 .svg-icon { @include size(16px); }
.svg-icon-32 .svg-icon { @include size(32px); }

.svg-icon-160 .svg-icon {
  @include size(160px);
  background: #ccc;
}

.svg-muted { color: #999; }
.svg-muted-blue { color: #a8bbcf; }
.svg-unread { color: #0af; }
