.table-stats {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: auto;

  td {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0.4em 0.5em;
  }

  th {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    padding: 0.5em;

    &.block { padding-left: 2em; }
  }

  tbody tr:nth-child(2n) { background-color: #f6f6f6; }
  thead,
  tfoot {
    background-color: #ededed;
    background-image: linear-gradient(#fbfbfb, #ededed);
    background-repeat: repeat-x;
  }
}
