.table-adaptive {
  @media (max-width: $screen-xs-max) {
    &,
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th { display: block; }

    tr { padding: .5rem 0; }

    td,
    th {
      text-align: center;

      &:empty { display: none; }
    }
  }
}

.table-stats {
  border-collapse: collapse;
  border: 1px solid #ddd;

  .border-right,
  .border-bottom,
  .border-left,
  .border-top {
    border-color: #ddd;
    border-width: 1px;
  }

  tr + tr { border-top: 1px solid #ddd; }

  td,
  th {
    padding: .35rem .5rem;
    vertical-align: middle;
  }

  tbody tr:nth-child(2n) { background-color: #f6f6f6; }

  thead,
  tfoot,
  .thead {
    background: #ededed linear-gradient(#fbfbfb, #ededed) repeat-x;
  }

  thead {
    border-bottom: 1px solid #ddd;
    font-weight: bold;

    tr {
      @media (min-width: $screen-sm-min) {
        position: sticky;
        top: -1px;
        z-index: 1;
        background: #ededed linear-gradient(#fbfbfb, #ededed) repeat-x;
      }
    }
  }

  tfoot { border-top: 1px solid #ddd; }
}
