.table-stats {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: auto;

  .number {
    padding-left: 1em;
    padding-right: 1em;
    text-align: right;
  }

  td {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 0.4em 0.5em;
  }

  th {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    padding: 0.5em;
    text-align: left;

    &.block {
      padding-left: 2em;
      text-align: left;
    }
  }

  tbody tr:nth-child(2n) { background-color: #f6f6f6; }
  thead,
  tfoot {
    background-color: #ededed;
    background-image: linear-gradient(#fbfbfb, #ededed);
    background-repeat: repeat-x;
  }
}
