.json-model {
  display: inline-block;
  max-width: 100%;
}

.terminal { tab-size: 4; }
.terminal span { white-space: pre-wrap; }
.terminal-command::before { content: '$ '; }
.terminal-comment { color: #898989; }
