$dark-bg-color: #2f343a;
$dark-text-color: #ccc;
$dark-link-color: #00aeff;
$dark-link-visited-color: #82c5ff;
$dark-link-hover-color: #91e4ff;

$dark-border-color: darken($dark-bg-color, 6.5%);
$dark-bg-lighter-color: lighten($dark-bg-color, 10%);

.theme-dark {
  background-color: $dark-bg-color;
  color: $dark-text-color;

  code {
    background-color: lighten($dark-bg-color, 15%);
    color: $dark-text-color;
  }

  footer {
    background-color: lighten($dark-bg-color, 10%);
    border-color: $dark-border-color;
  }

  hr { border-color: $dark-border-color; }

  pre,
  .form-control {
    background-color: lighten($dark-bg-color, 15%);
    border-color: $dark-border-color;
    color: $dark-text-color;
  }

  .form-select { border-color: $dark-border-color; }

  .breadcrumbs {
    background-color: lighten($dark-bg-color, 10%);

    a {
      color: $dark-link-color;

      &:hover,
      &:focus {
        color: $dark-link-hover-color !important;

        .svg-icon { fill: $dark-link-hover-color !important; }
      }
    }
  }

  .btn-default { border-color: $dark-border-color; }

  .border-bottom { border-color: $dark-border-color; }

  .comment-container { border-color: $dark-border-color; }

  .dropdown-menu {
    background: $dark-bg-lighter-color;

    .divider { background-color: $dark-border-color; }

    > li > a {
      color: $dark-text-color;

      &:hover {
        color: $dark-text-color;
        background: $dark-bg-color;
      }
    }
  }

  .torrent-categories a,
  .torrents-list-container a,
  .link,
  .pseudo {
    border: none;
    color: $dark-link-color;

    &:hover,
    &:focus,
    &.active {
      color: $dark-link-hover-color !important;

      .svg-icon { fill: $dark-link-hover-color !important; }
    }

    &:visited {
      color: $dark-link-visited-color;

      .svg-icon { fill: $dark-link-visited-color; }
    }
  }

  .list-group-item {
    background-color: $dark-bg-lighter-color;
    border-color: $dark-border-color;
    color: $dark-text-color;

    &.active {
      color: #fff;
    }

    &:hover {
      background-color: lighten($dark-bg-lighter-color, 5%);
      border-color: $dark-border-color;
      color: #fff;
    }
  }

  .nav-link-tabs > li.active > a { color: $dark-text-color; }

  .pagination > li > a {
    background-color: $dark-bg-lighter-color;
    border-color: $dark-border-color;
    color: $dark-text-color;

    &:hover {
      background-color: lighten($dark-bg-lighter-color, 5%);
      color: #fff;
    }
  }

  .pagination > .active > span { border-color: $dark-border-color; }
  .pagination > .disabled > span {
    background-color: $dark-bg-lighter-color;
    border-color: $dark-border-color;
  }

  .panel-default {
    background-color: lighten($dark-bg-lighter-color, 5%);
    border-color: $dark-border-color;

    > .panel-heading,
    > .panel-footer {
      background: $dark-bg-lighter-color;
      border-color: $dark-border-color;
      color: $dark-text-color;
    }
  }

  .rutracker-post .sp-wrap {
    background-color: $dark-bg-lighter-color;
    border-color: $dark-border-color;
  }

  .rutracker-post .sp-body {
    background-color: lighten($dark-bg-lighter-color, 5%);
    border-color: $dark-border-color;
  }

  .rutracker-post .sp-head span { color: $dark-text-color; }

  .text-muted { color: #999; }
  .text-success { color: #5cb85c; }

  .torrents-list-container {
    @media (min-width: $screen-sm-min) {
      &:hover { background-color: $dark-bg-lighter-color; }
    }
  }

  .table-stats {
    border-color: $dark-border-color;

    tr + tr,
    td,
    th,
    thead,
    tfoot { border-color: $dark-border-color; }

    tbody tr:nth-child(2n) { background-color: lighten($dark-bg-color, 5%); }

    thead,
    thead tr,
    tfoot,
    .thead {
      background: lighten($dark-bg-color, 5%) linear-gradient(lighten($dark-bg-color, 15%), lighten($dark-bg-color, 5%)) repeat-x;
    }
  }
}
