.rutracker-post {
  word-wrap: break-word;
  margin-bottom: 1rem;

  pre {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
  }

  ul, ol { margin: 8px auto 8px 8px; }
  li { margin: 0 4px 1px 24px; }

  .c-body,
  .q,
  .sp-wrap,
  .sp-head,
  .sp-body {
    border: solid #C3CBD1;
    border-width: 1px 1px 1px 2px;
    clear: both;
  }

  .c-wrap,
  .q-wrap,
  .sp-wrap {
    width: 98%;
    clear: both;
  }

  .c-head,
  .q-head,
  .sp-head {
    text-align: left !important;
    min-width: 150px;
    min-height: 14px;
  }

  .c-body,
  .q,
  .sp-body {
    padding: 2px 6px;
  }

  .post-align,
  .post-br,
  .post-hr,
  .postImgAligned {
    display: block;
  }

  .postImg { margin: 2px 2px 0 0; }
  .postImgAligned { margin: 4px 4px 2px; }

  .img-left {
    float: left;
    clear: left;
  }

  .img-right {
    float: right;
    clear: right;
  }

  .post-b { font-weight: bold; }
  .post-i { font-style: italic; }
  .post-pre {
    white-space: pre-wrap;
    font-family: monospace
  }
  .post-s { text-decoration: line-through; }
  .post-u { text-decoration: underline; }

  .sp-body {
    border-width: 1px 0 0 0;
    display: none;
    font-weight: normal;
    background: #F5F5F5;
  }

  .sp-fold {
    width: 98%;
    margin: 0 auto;
    text-align: right;
    font-size: 10px;
    color: #444444;
    clear: both;
  }

  .sp-head {
    border-width: 0;
    padding: 1px 14px 3px;
    cursor: pointer;
    font-weight: bold;

    span {
      display: inline-block;
      margin: 0;
      font-family: Verdana, sans-serif;
      font-style: normal;
      font-size: 11px !important;
      line-height: 15px;
      text-decoration: none;
      color: #2A2A2A;
    }
  }

  .folded span:before { content: '+ '; font-family: monospace; }
  .unfolded span:before { content: '- '; font-family: monospace; }

  .sp-wrap {
    padding: 0;
    background: #E9E9E6;

    .folded {
      display: block;
      padding-left: 14px;
      // background
    }
  }

  .sp-wrap,
  .post-hr {
    margin: 8px auto;
  }

  .post-hr hr { margin: 0; }

  .postLink {
    border-bottom: 1px solid;
    border-color: $link-border-color;
    color: $link-color;
    cursor: pointer;
    outline: 0;

    &:hover,
    &:focus,
    &.active {
      border-color: $link-hover-border-color !important;
      color: $link-hover-color !important;
    }

    &.active { border: none; }

    &:visited {
      border-color: $link-visited-border-color;
      color: $link-visited-color;
    }
  }
}

.hide-brackets .torrent-brackets { display: none; }
.torrent-title.hide-brackets { font-weight: normal; }

.torrent-brackets { font-weight: normal; }
.torrent-breadcrumbs {
  font-size: 12px;
  margin: 3px 0;
  color: $gray-light;
}
.torrent-icon {
  .svg-icon {
    @include size(1.5em);
    margin-top: 0;
  }
  .svg-icon-file-text-o { color: $gray-light; }
  .svg-icon-film { color: #428bca; }
  .svg-icon-gamepad { color: #a94442; }
  .svg-icon-music { color: #960ed7; }
  .svg-icon-smile-o { color: #3c763d; }
  .svg-icon-soccer-ball-o { color: #666; }
  .svg-icon-tv { color: #ca8e3f; }
}
.torrent-stats-container { max-width: 500px; }
.torrent-stats-separator { padding: 0 10px; }
.torrent-title { font-weight: bold; }

// Список раздач
.torrents-list-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  & + & { margin-top: 2rem; }

  @include media-breakpoint-up(md) {
    flex-wrap: nowrap;

    & + & { margin-top: 1rem; }
    &:hover { background-color: #f6f6f6; }
  }
}

.torrents-list-cell {
  display: flex;
  overflow: hidden; // Для ссылок размером на всю ячейку .link-cell
}

.torrents-list-icon {
  width: 32px;
  order: 1;

  @include media-breakpoint-up(md) { order: 0; }
}

.torrents-list-title {
  width: 100%;
  margin-bottom: 0.5rem;

  @include media-breakpoint-up(md) {
    width: 80%;
    margin-bottom: 0;
    padding-right: 1rem;
  }
}

.torrents-list-magnet {
  width: 70px;
  justify-content: center;
  order: 2;

  @include media-breakpoint-up(md) { justify-content: flex-start; }
}

.torrents-list-size {
  width: 70px;
  justify-content: center;
  order: 3;
}
