$text-color: #404040;

$link-color:            #337ab7;
$link-hover-color:      #d23232;
$link-hover-decoration: none;
$link-visited-color:    #660e7a;

$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-h1:            32px;
$font-size-h2:            26px;
$font-size-h3:            21px;
$font-size-h4:            16px;

$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
);
$border-width: 1px;
