$blue: #337ab7;
$orange: #fd7e14;

// Around $gray-550
$gray-light: #858585;

$theme-colors: (
  "gray-200": #e1e4e8,
  "important": $orange,
);

$enable-shadows: true;
$enable-gradients: true;

$bottom-tabbar-height: 45px;
$bottom-tabbar-sm-height: 38px;

$link-color:                #337ab7;
$link-border-color:         rgba(66, 139, 202, .3);
$link-hover-color:          #d23232;
$link-hover-decoration:     none;
$link-hover-border-color:   rgba(210, 50, 50, .5);
$link-visited-color:        #660e7a;
$link-visited-border-color: rgba(102, 14, 122, .3);
$link-underline-offset:     .175rem;
