$white:  #fff;
$black:  #000;
$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #5cb85c;
$blue:   #0275d8;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;

$my-gray:          #464a4c;
$my-gray-lighter:  #eceeef;

$brand-primary: #337ab7;

$text-color: #404040;

$link-color:                #337ab7;
$link-border-color:         rgba(66, 139, 202, 0.3);
$link-hover-color:          #d23232;
$link-hover-decoration:     none;
$link-hover-border-color:   rgba(210, 50, 50, 0.5);
$link-visited-color:        #660e7a;
$link-visited-border-color: rgba(102, 14, 122, 0.3);

$font-family-sans-serif:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base:          16px;
$font-size-root:          16px;

$font-size-h1:            32px;
$font-size-h2:            26px;
$font-size-h3:            21px;
$font-size-h4:            16px;

$line-height-base:        1.5;

$input-border-color:      rgba($black, .15);

$border-radius:           .25rem;

$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  ),
  2: (
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  ),
  3: (
    x: $spacer-x,
    y: $spacer-y
  ),
  4: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  5: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
);

$blockquote-font-size: $font-size-base;

$border-color: #eee;
$border-width: 1px;

// Custom file input
$custom-file-height:           2.5rem;
$custom-file-width:            14rem;
$custom-file-focus-box-shadow: 0 0 0 .075rem $white, 0 0 0 .2rem $brand-primary;

$custom-file-padding-x:     .5rem;
$custom-file-padding-y:     1rem;
$custom-file-line-height:   1.5;
$custom-file-color:         $my-gray;
$custom-file-bg:            $white;
$custom-file-border-width:  $border-width;
$custom-file-border-color:  $input-border-color;
$custom-file-border-radius: $border-radius;
$custom-file-box-shadow:    inset 0 .2rem .4rem rgba($black, .05);
$custom-file-button-color:  $custom-file-color;
$custom-file-button-bg:     $my-gray-lighter;
$custom-file-text: (
  placeholder: (
    en: 'Choose file...',
    ru: 'Выберите файл...',
  ),
  button-label: (
    en: 'Browse',
    ru: 'Обзор',
  )
);

$custom-file-multiple-text: (
  placeholder: (
    en: 'Choose files...',
    ru: 'Выберите файлы...',
  )
);

// Tooltips
$tooltip-max-width: 250px;
$tooltip-background-color: rgba(0, 0, 0, 0.8);
$tooltip-text-color: #fff;
$tooltip-delay: 0.4s;
$tooltip-duration: 0.1s;

// Social
$fb-color:             #304591;
$fb-active-color:      lighten($fb-color, 10%);
$gplus-color:          #d94435;
$gplus-active-color:   lighten($gplus-color, 10%);
$twitter-color:        #31adf4;
$twitter-active-color: lighten($twitter-color, 10%);
$vk-color:             #527397;
$vk-active-color:      #678eb4;
