.vk-post-container { word-wrap: break-word; }
.vk-post-attachments { margin-top: 0.5rem; }
.vk-post-content { margin-bottom: 0; }
.vk-post-meta {
  margin: .5rem 0 -.5rem;

  .svg-icon { margin-top: .05rem; }
  .svg-icon-heart { color: #fa6c8d; }
}
