.city-entry,
.favorites-entry,
.travel-entry {
  margin-bottom: 0.5em;
}

.city-entry { margin-left: 1.5em; }
.travel-entry { margin-left: 3.5em; }

.city-trips,
.travel-month {
  color: #777;
  margin-left: 3px;
  font-size: 12px;
}

.city-initial,
.travel-year {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
}

.city-initial { margin: 0 0 0 -1.5em; }
.travel-year { margin: 0 0 0 -3.5em; }

.travel-timeline-arrows {
  .horizontal { display: none; }

  @media (min-width: 768px) {
    .horizontal { display: inline; }
    .vertical { display: none; }
  }
}

.travel-timeline-container {
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 2em;
  text-align: center;

  @media (min-width: 768px) {
    flex-flow: row wrap;
  }
}

.travel-timeline {
  margin-bottom: 1em;
}

.travel-timeline-date {
  color: #777;
  font-size: 12px;
}
