.favorites-entry,
.travel-entry {
  margin-bottom: 0.5em;
}

.travel-entry { margin-left: 3.5em; }

.travel-month {
  color: #777;
  margin-left: 3px;
  font-size: 12px;
}

.travel-year {
  position: absolute;
  margin: 0 0 0 -3.5em;
  font-weight: bold;
}
