.container > .navbar-collapse { margin-left: -15px; }

.navbar-default .navbar-brand {
  font-weight: bold;
  color: #005784;
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: #ddd 2px 2px 2px;

  &:hover { color: #d46400; }
}

.navbar-nav .navbar-selected {
  box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  border-bottom: 4px solid #ddd;
  padding-bottom: 11px;
}
