.svg-icon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  width: 1em;
  height: 1em;
  margin-top: 2px;

  .navbar-nav & {
    font-size: 18px;
    margin-top: 0;
  }
}
