@extends('pages.base')

@section('content')
<h2>Фильмы и сериалы, которые посмотрел или посмотрел бы несколько раз</h2>
<section class="movies-container">
  <div class="page-header">
    <h2>2014</h2>
  </div>
  <a title="Edge of Tomorrow" href="http://www.kinopoisk.ru/film/505851/">
    <img src="http://www.kinopoisk.ru/images/film_big/505851.jpg" alt="" height="400">
  </a>
  <a title="Fargo" href="http://www.kinopoisk.ru/film/767379/">
    <img src="http://www.kinopoisk.ru/images/film_big/767379.jpg" alt="" height="400">
  </a>
  <a title="Gone Girl" href="http://www.kinopoisk.ru/film/692861/">
    <img src="http://www.kinopoisk.ru/images/film_big/692861.jpg" alt="" height="400">
  </a>
  <a title="Interstellar" href="http://www.kinopoisk.ru/film/258687/">
    <img src="http://www.kinopoisk.ru/images/film_big/258687.jpg" alt="" height="400">
  </a>
  <a title="True Detective" href="http://www.kinopoisk.ru/film/681831/">
    <img src="http://www.kinopoisk.ru/images/film_big/681831.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2013</h2>
  </div>
  <a title="Dallas Buyers Club" href="http://www.kinopoisk.ru/film/260162/">
    <img src="http://www.kinopoisk.ru/images/film_big/260162.jpg" alt="" height="400">
  </a>
  <a title="Her" href="http://www.kinopoisk.ru/film/577488/">
    <img src="http://www.kinopoisk.ru/images/film_big/577488.jpg" alt="" height="400">
  </a>
  <a title="House of Cards" href="http://www.kinopoisk.ru/film/581937/">
    <img src="http://www.kinopoisk.ru/images/film_big/581937.jpg" alt="" height="400">
  </a>
  <a title="Wolf of Wall Street" href="http://www.kinopoisk.ru/film/462682/">
    <img src="http://www.kinopoisk.ru/images/film_big/462682.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2011</h2>
  </div>
  <a title="Homeland" href="http://www.kinopoisk.ru/film/574688/">
    <img src="http://www.kinopoisk.ru/images/film_big/574688.jpg" alt="" height="400">
  </a>
  <a title="Intouchables" href="http://www.kinopoisk.ru/film/535341/">
    <img src="http://www.kinopoisk.ru/images/film_big/535341.jpg" alt="" height="400">
  </a>
  <a title="Suits" href="http://www.kinopoisk.ru/film/557806/">
    <img src="http://www.kinopoisk.ru/images/film_big/557806.jpg" alt="" height="400">
  </a>
  <a title="The Guard" href="http://www.kinopoisk.ru/film/484474/">
    <img src="http://www.kinopoisk.ru/images/film_big/484474.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2010</h2>
  </div>
  <a title="Inception" href="http://www.kinopoisk.ru/film/447301/">
    <img src="http://www.kinopoisk.ru/images/film_big/447301.jpg" alt="" height="400">
  </a>
  <a title="Sherlock" href="http://www.kinopoisk.ru/film/502838/">
    <img src="http://www.kinopoisk.ru/images/film_big/502838.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2009</h2>
  </div>
  <a title="3 Idiots" href="http://www.kinopoisk.ru/film/423210/">
    <img src="http://www.kinopoisk.ru/images/film_big/423210.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2008</h2>
  </div>
  <a title="Bienvenue chez les Ch'tis" href="http://www.kinopoisk.ru/film/391735/">
    <img src="http://www.kinopoisk.ru/images/film_big/391735.jpg" alt="" height="400">
  </a>
  <a title="Breaking Bad" href="http://www.kinopoisk.ru/film/404900/">
    <img src="http://www.kinopoisk.ru/images/film_big/404900.jpg" alt="" height="400">
  </a>
  <a title="Yes Man" href="http://www.kinopoisk.ru/film/391772/">
    <img src="http://www.kinopoisk.ru/images/film_big/391772.jpg" alt="" height="400">
  </a>
  <a title="WALL·E" href="http://www.kinopoisk.ru/film/279102/">
    <img src="http://www.kinopoisk.ru/images/film_big/279102.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2007</h2>
  </div>
  <a title="In Bruges" href="http://www.kinopoisk.ru/film/276295/">
    <img src="http://www.kinopoisk.ru/images/film_big/276295.jpg" alt="" height="400">
  </a>
  <a title="No Country for Old Men" href="http://www.kinopoisk.ru/film/195434/">
    <img src="http://www.kinopoisk.ru/images/film_big/195434.jpg" alt="" height="400">
  </a>
  <a title="The Big Bang Theory" href="http://www.kinopoisk.ru/film/306084/">
    <img src="http://www.kinopoisk.ru/images/film_big/306084.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2006</h2>
  </div>
  <a title="The Departed" href="http://www.kinopoisk.ru/film/81314/">
    <img src="http://www.kinopoisk.ru/images/film_big/81314.jpg" alt="" height="400">
  </a>
  <a title="The Prestige" href="http://www.kinopoisk.ru/film/195334/">
    <img src="http://www.kinopoisk.ru/images/film_big/195334.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2005</h2>
  </div>
  <a title="Lucky Number Slevin" href="http://www.kinopoisk.ru/film/86326/">
    <img src="http://www.kinopoisk.ru/images/film_big/86326.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2004</h2>
  </div>
  <a title="Eternal Sunshine of the Spotless Mind" href="http://www.kinopoisk.ru/film/5492/">
    <img src="http://www.kinopoisk.ru/images/film_big/5492.jpg" alt="" height="400">
  </a>
  <a title="Terminal" href="http://www.kinopoisk.ru/film/6877/">
    <img src="http://www.kinopoisk.ru/images/film_big/6877.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2002</h2>
  </div>
  <a title="Catch Me If You Can" href="http://www.kinopoisk.ru/film/324/">
    <img src="http://www.kinopoisk.ru/images/film_big/324.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>2000</h2>
  </div>
  <a title="Cast Away" href="http://www.kinopoisk.ru/film/627/">
    <img src="http://www.kinopoisk.ru/images/film_big/627.jpg" alt="" height="400">
  </a>
  <a title="Snatch" href="http://www.kinopoisk.ru/film/526/">
    <img src="http://www.kinopoisk.ru/images/film_big/526.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>1999</h2>
  </div>
  <a title="Fight Club" href="http://www.kinopoisk.ru/film/361/">
    <img src="http://www.kinopoisk.ru/images/film_big/361.jpg" alt="" height="400">
  </a>
  <a title="The Green Mile" href="http://www.kinopoisk.ru/film/435/">
    <img src="http://www.kinopoisk.ru/images/film_big/435.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>1998</h2>
  </div>
  <a title="The Truman Show" href="http://www.kinopoisk.ru/film/4541/">
    <img src="http://www.kinopoisk.ru/images/film_big/4541.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>1997</h2>
  </div>
  <a title="The Game" href="http://www.kinopoisk.ru/film/12198/">
    <img src="http://www.kinopoisk.ru/images/film_big/12198.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>1996</h2>
  </div>
  <a title="Kingpin" href="http://www.kinopoisk.ru/film/4343/">
    <img src="http://www.kinopoisk.ru/images/film_big/4343.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>1993</h2>
  </div>
  <a title="Groundhog Day" href="http://www.kinopoisk.ru/film/527/">
    <img src="http://www.kinopoisk.ru/images/film_big/527.jpg" alt="" height="400">
  </a>
</section>

<section class="movies-container">
  <div class="page-header">
    <h2>1991</h2>
  </div>
  <a title="Terminator 2: Judgement Day" href="http://www.kinopoisk.ru/film/444/">
    <img src="http://www.kinopoisk.ru/images/film_big/444.jpg" alt="" height="400">
  </a>
</section>
@stop
