@extends('base')

@section('content')

<div class="lead">

<h2>Санкт-Петербург <small>9&ndash;13 сентября 2014</small></h2>
<p>В эту поездку были опробованы скоростные поезда Невский экспресс и Сапсан. Едут примерно одинаковое время, но первый дешевле.</p>
<p>В экспрессе достался вагон первого класса купейного типа с сидячими местами. С каждого места есть доступ к столику. Однако спинку кресла не откинуть.</p>
<p>Сапсан оказался комфортнее. Удивило, что нужно было не спинку откидывать назад, а сиденьем ехать вперед. Интересовался наличием розеток в эконом-классе. Конечно, несколько там есть — нужно же подключать куда-то тот же пылесос во время чистки вагона. Беглый обзор не выявил их.</p>
<p>Как известно, люди не могли быть спасены во время теракта 11 сентября вертолетом из-за закрытых дверей на крыши башень-близнецов. Затем американцы учли опыт, стали открывать двери по всей стране. Однако, правительство СПб призывает их закрывать.</p>
<p><img class="img-thumbnail" src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1062.jpg" alt=""></p>

<p>В старом доме на Лиговском проспекте встретилась такая конструкция. Зачем она могла быть сооружена?</p>
<p><img class="img-thumbnail" src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1060.jpg" alt=""></p>

<p>Парк Победы осенью.</p>
<p>
  <div id="carousel-1" class="carousel img-thumbnail" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-1" data-slide-to="1"></li>
      <li data-target="#carousel-1" data-slide-to="2"></li>
      <li data-target="#carousel-1" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1063.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1064.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1066.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1068.jpg" alt="">
      </div>
    </div>
  </div>
</p>

<p>Спортивно-концертный комплекс «Петербургский» — самая большая закрытая арена в Санкт-Петербурге, вмещает 25 тысяч человек. В СКК был уже дважды к этому моменту: тут играла Металлика в 2007 году и Раммштайн в 2010.</p>
<p><img class="img-thumbnail" src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1067.jpg" alt=""></p>

<p>Петергоф. Спонтанная поездка, около получаса был удивительно густой туман, который так же быстро исчез, как и появился.</p>
<p>
  <div id="carousel-2" class="carousel img-thumbnail" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-2" data-slide-to="1"></li>
      <li data-target="#carousel-2" data-slide-to="2"></li>
      <li data-target="#carousel-2" data-slide-to="3"></li>
      <li data-target="#carousel-2" data-slide-to="4"></li>
      <li data-target="#carousel-2" data-slide-to="5"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1072.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1073.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1087.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1115.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1122.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1127.jpg" alt="">
      </div>
    </div>
  </div>
</p>

<p>Финский залив в тумане словно край мира.</p>
<p>
  <div id="carousel-3" class="carousel img-thumbnail" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-3" data-slide-to="1"></li>
      <li data-target="#carousel-3" data-slide-to="2"></li>
      <li data-target="#carousel-3" data-slide-to="3"></li>
      <li data-target="#carousel-3" data-slide-to="4"></li>
      <li data-target="#carousel-3" data-slide-to="5"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1094.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1096.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1098.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1099.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1100.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1116.jpg" alt="">
      </div>
    </div>
  </div>
</p>

<p>Впервые попались маленькие бананы. Традиционные больше по вкусу.</p>
<p><img class="img-thumbnail" src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1183.jpg" alt=""></p>

<p>И впервые покатался на трамвае. Мог это сделать еще в феврале, но тогда думал, что оплата проезда производится исключительно по транспортной карте, которую прикладывают к валидатору. Оказалось, что в дополнение к валидаторам всегда есть контролер с билетами — до автоматизации пока не дошли.</p>
<p>
  <div id="carousel-4" class="carousel img-thumbnail" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-4" data-slide-to="1"></li>
      <li data-target="#carousel-4" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1187.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1203.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1206.jpg" alt="">
      </div>
    </div>
  </div>
</p>

<p>Разглядывать улицы одно удовольствие.</p>
<p>
  <div id="carousel-5" class="carousel img-thumbnail" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-5" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-5" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1220.jpg" alt="">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1221.jpg" alt="">
      </div>
    </div>
  </div>
</p>

</div>

@stop
