@extends('pages.base-map', [
  'meta_title' => 'Санкт-Петербург &middot; 9–13 сентября 2014'
])

@section('content')
<h2>Санкт-Петербург <small>9–13 сентября 2014</small></h2>
<p>В эту поездку были опробованы скоростные поезда Невский экспресс и Сапсан. Едут примерно одинаковое время, но первый дешевле.</p>
<p>В экспрессе достался вагон первого класса купейного типа с сидячими местами. С каждого места есть доступ к столику. Однако спинку кресла не откинуть.</p>
<p>Сапсан оказался комфортнее. Удивило, что нужно было не спинку откидывать назад, а сиденьем ехать вперед. Интересовался наличием розеток в эконом-классе. Конечно, несколько там есть — нужно же подключать куда-то тот же пылесос во время чистки вагона. Беглый обзор не выявил их.</p>
<p>Как известно, люди не могли быть спасены во время теракта 11 сентября вертолетом из-за закрытых дверей на крыши башень-близнецов. Затем американцы учли опыт, стали открывать двери по всей стране. Однако, правительство СПб призывает их закрывать.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1062.jpg" alt="" width="750" height="1000" data-map-lat="59.9346888889" data-map-lon="30.332">
</div>

<p>В старом доме на Лиговском проспекте встретилась такая конструкция. Зачем она могла быть сооружена?</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1060.jpg" alt="" width="750" height="1000" data-map-lat="59.9086944444" data-map-lon="30.3466388889">
</div>

<p>Парк Победы осенью.</p>
<div class="img-container">
  <div id="carousel-1" class="carousel" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-1" data-slide-to="1"></li>
      <li data-target="#carousel-1" data-slide-to="2"></li>
      <li data-target="#carousel-1" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1063.jpg" alt="" width="1000" height="750" data-map-lat="59.8690305556" data-map-lon="30.3306222222">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1064.jpg" alt="" width="1000" height="750" data-map-lat="59.8690916667" data-map-lon="30.3307444444">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1066.jpg" alt="" width="1000" height="750" data-map-lat="59.8691861111" data-map-lon="30.3340194444">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1068.jpg" alt="" width="1000" height="750" data-map-lat="59.8715861111" data-map-lon="30.3355472222">
      </div>
    </div>
  </div>
</div>

<p>Спортивно-концертный комплекс «Петербургский» — самая большая закрытая арена в Санкт-Петербурге, вмещает 25 тысяч человек. В СКК был уже дважды к этому моменту: тут играла Металлика в 2007 году и Раммштайн в 2010.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1067.jpg" alt="" width="1000" height="750" data-map-lat="59.8696138889" data-map-lon="30.3371">
</div>

<p>Петергоф. Спонтанная поездка, около получаса был удивительно густой туман, который так же быстро исчез, как и появился.</p>
<div class="img-container">
  <div id="carousel-2" class="carousel" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-2" data-slide-to="1"></li>
      <li data-target="#carousel-2" data-slide-to="2"></li>
      <li data-target="#carousel-2" data-slide-to="3"></li>
      <li data-target="#carousel-2" data-slide-to="4"></li>
      <li data-target="#carousel-2" data-slide-to="5"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1072.jpg" alt="" width="1000" height="750" data-map-lat="59.8836277778" data-map-lon="29.9074166667">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1073.jpg" alt="" width="1000" height="750" data-map-lat="59.8836222222" data-map-lon="29.9074611111">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1087.jpg" alt="" width="1000" height="750" data-map-lat="59.8882166667" data-map-lon="29.8994666667">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1115.jpg" alt="" width="1000" height="750" data-map-lat="59.8875166667" data-map-lon="29.9104277778">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1122.jpg" alt="" width="1000" height="750" data-map-lat="59.8855861111" data-map-lon="29.9195">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1127.jpg" alt="" width="1000" height="750" data-map-lat="59.8852388889" data-map-lon="29.9200333333">
      </div>
    </div>
  </div>
</div>

<p>Финский залив в тумане словно край мира.</p>
<div class="img-container">
  <div id="carousel-3" class="carousel" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-3" data-slide-to="1"></li>
      <li data-target="#carousel-3" data-slide-to="2"></li>
      <li data-target="#carousel-3" data-slide-to="3"></li>
      <li data-target="#carousel-3" data-slide-to="4"></li>
      <li data-target="#carousel-3" data-slide-to="5"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1094.jpg" alt="" width="1000" height="750">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1096.jpg" alt="" width="1000" height="750">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1098.jpg" alt="" width="1000" height="750" data-map-lat="59.8891111111" data-map-lon="29.903225">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1099.jpg" alt="" width="1000" height="750" data-map-lat="59.8891111111" data-map-lon="29.903225">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1100.jpg" alt="" width="1000" height="750" data-map-lat="59.8890416667" data-map-lon="29.9035722222">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1116.jpg" alt="" width="1000" height="750" data-map-lat="59.8871638889" data-map-lon="29.9172777778">
      </div>
    </div>
  </div>
</div>

<p>Впервые попались маленькие бананы. Традиционные больше по вкусу.</p>
<div class="img-container">
  <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1183.jpg" alt="" width="1000" height="750" data-map-lat="59.9192166667" data-map-lon="30.3389694444">
</div>

<p>И впервые покатался на трамвае. Мог это сделать еще в феврале, но тогда думал, что оплата проезда производится исключительно по транспортной карте, которую прикладывают к валидатору. Оказалось, что в дополнение к валидаторам всегда есть контролер с билетами — до автоматизации пока не дошли.</p>
<div class="img-container">
  <div id="carousel-4" class="carousel" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-4" data-slide-to="1"></li>
      <li data-target="#carousel-4" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1187.jpg" alt="" width="1000" height="750" data-map-lat="59.92155" data-map-lon="30.3545">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1203.jpg" alt="" width="1000" height="750" data-map-lat="59.9149027778" data-map-lon="30.3503583333">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1206.jpg" alt="" width="1000" height="750" data-map-lat="59.9144277778" data-map-lon="30.3498555556">
      </div>
    </div>
  </div>
</div>

<p>Разглядывать улицы одно удовольствие.</p>
<div class="img-container">
  <div id="carousel-5" class="carousel" data-interval="0">
    <ol class="carousel-indicators big">
      <li data-target="#carousel-5" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-5" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner carousel-inner-clicker">
      <div class="item active">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1221.jpg" alt="" width="1000" height="750" data-map-lat="59.932177777778" data-map-lon="30.367511111111">
      </div>
      <div class="item">
        <img src="//life.ivacuum.ru/spb.2014.09.10-13/IMG_1220.jpg" alt="" width="1000" height="750" data-map-lat="59.949508333333" data-map-lon="30.386875">
      </div>
    </div>
  </div>
</div>
@stop
