<section>
  <h2>Другие их концерты</h2>
  <table class="table-stats">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Город</th>
        <th>Место</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-muted">
        <td>3 июля 2015</td>
        <td>Москва</td>
        <td>Ray Just Arena</td>
      </tr>
      <tr>
        <td>
          @if ($page == 'dreamtheater.2014.msk')
            <mark>28 февраля 2014</mark>
          @else
            <a href="/life/dreamtheater.2014.msk" class="link">28 февраля 2014</a>
          @endif
        </td>
        <td>Москва</td>
        <td>Stadium Live</td>
      </tr>
      <tr>
        <td>
          @if ($page == 'dreamtheater.2014.spb')
            <mark>26 февраля 2014</mark>
          @else
            <a href="/life/dreamtheater.2014.spb" class="link">26 февраля 2014</a>
          @endif
        </td>
        <td>Санкт-Петербург</td>
        <td>СК Юбилейный</td>
      </tr>
      <tr>
        <td>
          @if ($page == 'dreamtheater.2011')
            <mark>12 июля 2011</mark>
          @else
            <a href="/life/dreamtheater.2011" class="link">12 июля 2011</a>
          @endif
        </td>
        <td>Москва</td>
        <td>Крокус Сити Холл</td>
      </tr>
      <tr>
        <td>
          @if ($page == 'dreamtheater.2009')
            <mark>10 июня 2009</mark>
          @else
            <a href="/life/dreamtheater.2009" class="link">10 июня 2009</a>
          @endif
        </td>
        <td>Москва</td>
        <td>Дворец спорта Лужники</td>
      </tr>
    </tbody>
  </table>
</section>