@extends('base')

@section('global_menu')
  <li>
    <a class="{{ Request::is('acp/clients*') ? 'navbar-selected' : '' }}" href="/acp/clients">Клиенты</a>
  </li>
  <li>
    <a class="{{ Request::is('acp/domains*') ? 'navbar-selected' : '' }}" href="/acp/domains">Домены</a>
  </li>
  <li>
    <a class="{{ Request::is('acp/servers*') ? 'navbar-selected' : '' }}" href="/acp/servers">Серверы</a>
  </li>
  <li>
    <a class="{{ Request::is('acp/pages*') ? 'navbar-selected' : '' }}" href="/acp/pages">Страницы</a>
  </li>
@stop