@if (sizeof($domains))
<div class="boxed-group flush">
  <a href="{{ action('Acp\Domains@create') }}" class="boxed-group-action btn btn-success">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
  <h3>
    <form class="form-inline">
      {{ $domains->total() }} {{ trans_choice('plural.domains', $domains->total()) }}
      &nbsp;
      <input type="search" name="q" class="form-control" placeholder="Поиск..." value="{{ old('q') }}">
    </form>
  </h3>
  <div class="boxed-group-inner">
    <table class="table-stats js-float-thead">
      <colgroup>
        <col width="40"></col>
        <col width="*"></col>
        <col width="125"></col>
        <col width="200"></col>
        <col width="200"></col>
        <col width="60"></col>
      </colgroup>
      <thead>
        <tr>
          <th>#</th>
          <th>Домен</th>
          <th>Оплачен до</th>
          <th>Сервер</th>
          <th>NS</th>
          <th>CMS</th>
        </tr>
      </thead>
      <tbody>
      @foreach ($domains as $i => $domain)
        <tr class="js-dblclick-edit" data-dblclick-url="/acp/domains/{{ $domain->domain }}/edit?goto={{ $back_url }}">
          <td>
            <a name="d{{ $domain->id }}"></a>
            {{ Request::get('page', 0) * 50 + 1 + $i }}
          </td>
          <td>
            <a href="http://{{ $domain->domain }}/" target="_blank" style="margin-right: 0.3em;"><span class="glyphicon glyphicon-globe"></span></a>
            <a href="/acp/domains/{{ $domain->domain }}" class="link">{{ $domain->domain }}</a>
            @if ($domain->alias_id)
              <span class="text-muted">
                алиас
                <a href="/acp/domains/{{ $domain->alias->domain }}" class="link">{{ $domain->alias->domain }}</a>
                <a href="#d{{ $domain->alias_id }}" class="pseudo">#</a>
              </span>
            @endif
            @if ($domain->text)
              <span class="label label-default tip" title="есть заметки">...</span>
            @endif
            @if (!$domain->domain_control)
              <span class="label label-info tip" title="не в нашей панели">?</span>
            @endif
            @if ($domain->domain_control and $domain->isExpired())
              <span class="label label-danger tip" title="просрочена оплата">$</span>
            @endif
            @if ($domain->domain_control and $domain->isExpiringSoon())
              <span class="label label-warning tip" title="подходит срок оплаты">$</span>
            @endif
          </td>
          <td class="text-muted">
            <span class="tip" title="{{ $domain->paid_till }}">
              {{ $domain->paid_till->toDateString() }}
            </span>
          </td>
          <td>{!! $domain->whatServerIpv4() !!}</td>
          <td>{{ $domain->firstNsServer() }}</td>
          <td>
            @if ($domain->cms_url or ($domain->alias_id and $domain->alias->cms_url))
              @include('acp.domains.cms_login', ['cms_button_class' => 'btn btn-default btn-xs'])
            @endif
          </td>
        </tr>
      @endforeach
      </tbody>
    </table>
  </div>
</div>

<div class="pull-right">
  @include('tpl.paginator', ['paginator' => $domains])
</div>

<div class="clearfix"></div>

<p>
  <span class="label label-default">...</span> &nbsp;— есть заметки &nbsp;
  <span class="label label-info">?</span> &nbsp;— не в нашей панели &nbsp;
  <span class="label label-danger">$</span> &nbsp;— просрочена оплата &nbsp;
  <span class="label label-warning">$</span> &nbsp;— подходит срок оплаты
</p>
@else
  <div class="alert alert-warning">
    По заданному критерию не найдено ни одного домена.
  </div>
@endif