@extends('acp.base', [
  'meta_title' => 'Осиротевшие проекты',
])

@section('content')
<h2>Осиротевшие проекты</h2>
<ol>
  <li>
    <a href="http://chemodan40.ru.bsd.korden.net/" class="link">
      chemodan40.ru
    </a>
  </li>
  <li>
    <a href="http://kalugaenergoservis.ru.srv3.korden.net/" class="link">
      kalugaenergoservis.ru
    </a>
  </li>
  <li>
    <a href="http://novostroy-k.ru.srv3.korden.net/" class="link">
      novostroy-k.ru
    </a>
  </li>
  <li>
    <a href="http://shina-40.ru.srv1.korden.net/" class="link">
      shina-40.ru
    </a>
  </li>
  <li>
    <a href="http://stylemode.ru.srv3.korden.net/" class="link">
      stylemode.ru
    </a>
  </li>
</ol>
@stop
