.curtain {
  position: fixed;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  background: #fff;
}

.curtain-closed {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .3s, opacity .3s ease-out;
}

.curtain-opened {
  visibility: visible;
  opacity: .5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: opacity .3s ease-out;
}
