.table-adaptive {
  @include media-breakpoint-down(sm) {
    &,
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th { display: block; }

    tr { padding: .5rem 0; }

    td,
    th {
      text-align: center;

      &:empty { display: none; }
    }
  }
}

.table-stats {
  border-collapse: collapse;
  border: $border-width solid $table-border-color;

  tr + tr { border-top: $border-width solid $table-border-color; }

  td,
  th {
    padding: .35rem .5rem;
    vertical-align: middle;
  }

  tbody tr:nth-child(2n) { background-color: #f6f6f6; }

  thead,
  tfoot,
  .thead {
    background: #ededed linear-gradient(#fbfbfb, #ededed) repeat-x;
  }

  thead {
    border-bottom: $border-width solid $table-border-color;
    font-weight: bold;

    @include media-breakpoint-up(md) {
      border-bottom: none;

      th {
        position: sticky;
        top: -1px;
        z-index: 1;
        background: #ededed linear-gradient(#fbfbfb, #ededed) repeat-x;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          border-bottom: $border-width solid $table-border-color;
        }
      }
    }
  }

  tfoot { border-top: $border-width solid $table-border-color; }
}

.table-stats-align-top {
  td,
  th { vertical-align: top; }
}
