name: deploy

on:
  push:
    branches:
      - main

concurrency: main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/checkout@v6
        with:
          path: .ansible
          ssh-key: ${{ secrets.ANSIBLE_PRIVATE_KEY }}
          repository: ivacuum/ansible

      - name: Cache yarn dependencies
        uses: actions/cache@v5
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}

      - run: yarn
      - run: yarn build

      - name: Archive
        run: |
          tar --exclude ./.ansible \
            --exclude ./.git \
            --exclude ./.github \
            --exclude ./node_modules \
            --exclude ./resources/css \
            --exclude ./resources/js \
            --exclude ./tests \
            --exclude ./vendor \
            -cf deploy.tar .

      - name: ansible
        uses: dawidd6/action-ansible-playbook@6c0a4f86519cc4a09ba95e5077ecfa2141deba9e # v7
        with:
          key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
          playbook: vacuum.name.yml
          directory: .ansible
          options: |
            -e workspace=${{ github.workspace }}
