name: deploy

on:
  push:
    branches:
      - master

concurrency: master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          path: .ansible
          ssh-key: ${{ secrets.ANSIBLE_PRIVATE_KEY }}
          repository: ivacuum/ansible

      - name: Cache yarn dependencies
        uses: actions/cache@v3
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}

      - run: yarn --ignore-platform
      - run: yarn prod

      - name: Archive
        run: |
          tar --exclude ./.ansible \
            --exclude ./.git \
            --exclude ./.github \
            --exclude ./node_modules \
            --exclude ./resources/css \
            --exclude ./resources/js \
            --exclude ./resources/sass \
            --exclude ./tests \
            --exclude ./vendor \
            -cf deploy.tar .

      - name: ansible
        uses: dawidd6/action-ansible-playbook@5d970176ea4bfd99a3f5004d48e293fe0994eda1 # v2.6.1
        with:
          key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
          playbook: vacuum.name.yml
          directory: .ansible
          options: |
            -e workspace=${{ github.workspace }}
