name: phpunit

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  phpunit:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php: [ '8.4' ]

    name: PHP ${{ matrix.php }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, bcmath, intl, gd, exif, iconv, fileinfo, swoole
          ini-values: error_reporting=E_ALL
          coverage: none

      - name: Start mysql
        run: |
          sudo systemctl start mysql.service
          mysql -u root -proot -e 'CREATE DATABASE IF NOT EXISTS tests;'

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: composer-${{ hashFiles('composer.lock') }}

      - name: Run composer install
        run: composer install --prefer-dist --no-interaction --no-progress
        env:
          # {"http-basic":{"example.com":{"username":"login","password":"key"}}}
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}

      - name: Cache yarn dependencies
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-${{ hashFiles('yarn.lock') }}

      - run: yarn
      - run: yarn build

      - name: Install graphicsmagick
        run: sudo apt-get install graphicsmagick

      - name: Prepare Laravel Application
        run: |
          cp .env.ci .env
          php artisan key:generate
          php artisan migrate:fresh

      - name: Run PHPUnit
        run: composer test

      - name: Run Laravel Pint
        run: composer pint --parallel
